n8n/workflows/meeting-processing.json
{
  "updatedAt": "2026-04-29T02:58:29.791Z",
  "createdAt": "2026-04-22T17:02:21.504Z",
  "id": "hqovXTw8meebPsjT",
  "name": "WMMA Meeting Processing",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "11ef7385-c4a1-40e7-9eff-2b481f06bf38",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        320,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "if (!$json.id || !String($json.id).trim()) {\n  throw new Error('Missing meeting id');\n}\n\nif (!$json.drive_file_id || !String($json.drive_file_id).trim()) {\n  throw new Error('Missing drive_file_id');\n}\n\nif (!$json.manager_name || !String($json.manager_name).trim()) {\n  throw new Error('Missing manager_name');\n}\n\nif (!$json.meeting_datetime || !String($json.meeting_datetime).trim()) {\n  throw new Error('Missing meeting_datetime');\n}\n\nif (!$json.week_reference || !String($json.week_reference).trim()) {\n  throw new Error('Missing week_reference');\n}\n\nfunction rebuildSummaryFromFullText(fullText) {\n  const text = String(fullText || '')\n    .replace(/\\r/g, '')\n    .replace(/\\u000b/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n  function esc(v) {\n    return String(v).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  }\n\n  function section(start, ends) {\n    const startRe = new RegExp(`(^|\\\\n)${esc(start)}\\\\s*\\\\n`, 'i');\n    const startMatch = text.match(startRe);\n\n    if (!startMatch) return '';\n\n    const startIndex = startMatch.index + startMatch[0].length;\n    let endIndex = text.length;\n\n    for (const end of ends) {\n      const slice = text.slice(startIndex);\n      const endRe = new RegExp(`(^|\\\\n)${esc(end)}\\\\s*\\\\n`, 'i');\n      const endMatch = slice.match(endRe);\n\n      if (endMatch) {\n        const candidateEnd = startIndex + endMatch.index;\n        if (candidateEnd < endIndex) {\n          endIndex = candidateEnd;\n        }\n      }\n    }\n\n    return text.substring(startIndex, endIndex).trim();\n  }\n\n  function clean(v) {\n    return String(v || '')\n      .replace(/Rate this Summary:[\\s\\S]*?(?=\\n\\n|$)/gi, '')\n      .replace(/Let us know what you think:[\\s\\S]*?(?=\\n\\n|$)/gi, '')\n      .replace(/^We've updated the Decisions section.*$/gim, '')\n      .replace(/^ALIGNED$/gim, '')\n      .replace(/Did the screenshots[\\s\\S]*?(?=\\n|$)/gi, '')\n      .replace(/You should review Gemini's notes[\\s\\S]*$/gi, '')\n      .replace(/How is the quality[\\s\\S]*$/gi, '')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n  }\n\n  const portfolioPerformance = clean(section('Portfolio Performance', [\n    'Operational Issues',\n    'Decisions',\n    'Next steps',\n    'Details'\n  ]));\n\n  const operationalIssues = clean(section('Operational Issues', [\n    'Decisions',\n    'Next steps',\n    'Details'\n  ]));\n\n  const summary = clean(section('Summary', [\n    'Decisions',\n    'Next steps',\n    'Details',\n    'Rate this Summary'\n  ]));\n\n  const details = clean(section('Details', [\n    \"You should review Gemini's notes\",\n    'How is the quality'\n  ]));\n\n  const decisions = clean(section('Decisions', [\n    'Next steps',\n    'Details'\n  ]));\n\n  return {\n    changes: portfolioPerformance\n      ? [portfolioPerformance]\n      : summary\n        ? [summary]\n        : [],\n\n    issues: operationalIssues\n      ? [operationalIssues]\n      : details\n        ? [details]\n        : [],\n\n    decisions: decisions ? [decisions] : []\n  };\n}\n\nfunction normalizeOwner(owner) {\n  const v = String(owner || '').trim().toLowerCase();\n\n  if (v === 'brandon stewart' || v === 'brandon') return 'Brandon';\n  if (v === 'tammie stewart' || v === 'tammy stewart' || v === 'tammy' || v === 'tammie') return 'Tammie';\n  if (v === 'breanna blanks' || v === 'breanna' || v === 'brianna blanks' || v === 'brianna') return 'Breanna';\n  if (v === 'amy') return 'Amy';\n  if (v === 'debbie') return 'Debbie';\n  if (v === 'dede') return 'Dede';\n  if (v === 'shelbie') return 'Shelbie';\n  if (v === 'chris') return 'Chris';\n  if (v === 'ashlie' || v === 'ashlie wagner') return 'Ashlie';\n\n  return String(owner || '').trim();\n}\n\n// Validate or repair summary_structured\nlet summaryStructured = $json.summary_structured;\n\nconst summaryShapeValid =\n  summaryStructured &&\n  Array.isArray(summaryStructured.changes) &&\n  Array.isArray(summaryStructured.issues) &&\n  Array.isArray(summaryStructured.decisions);\n\nconst summaryNeedsRepair =\n  !summaryShapeValid ||\n  summaryStructured.changes.length === 0 ||\n  summaryStructured.issues.length === 0;\n\nif (summaryNeedsRepair) {\n  summaryStructured = rebuildSummaryFromFullText($json.full_text);\n}\n\nif (\n  !summaryStructured ||\n  !Array.isArray(summaryStructured.changes) ||\n  !Array.isArray(summaryStructured.issues) ||\n  !Array.isArray(summaryStructured.decisions)\n) {\n  throw new Error('Invalid summary_structured shape');\n}\n\n// Validate / normalize actions\nlet actions = Array.isArray($json.actions) ? $json.actions : [];\n\nif (actions.length < 1) {\n  throw new Error('At least 1 action is required');\n}\n\nif (actions.length > 25) {\n  throw new Error(`Too many actions (${actions.length}). Possible parsing issue.`);\n}\n\nactions = actions.map((a, i) => {\n  const description = a.action_description || a.description;\n  const owner = normalizeOwner(a.action_owner || a.owner);\n\n  if (!description || !String(description).trim()) {\n    throw new Error(`Action ${i + 1} missing description`);\n  }\n\n  if (!owner || !String(owner).trim()) {\n    throw new Error(`Action ${i + 1} missing owner`);\n  }\n\n  return {\n    action_index: i + 1,\n    action_description: String(description).trim(),\n    action_owner: owner,\n    due_date: a.due_date || null,\n    status: a.status || 'open',\n    property_name: a.property_name || null\n  };\n});\n\nreturn [{\n  json: {\n    ...$json,\n    summary_structured: summaryStructured,\n    actions,\n    action_count: actions.length\n  }\n}];"
      },
      "id": "392f788c-7c94-44ff-bf84-923c499195a4",
      "name": "Validate Meeting Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO manager_meetings (\n  id,\n  drive_file_id,\n  manager_name,\n  meeting_datetime,\n  week_reference,\n  transcript_raw,\n  summary_structured\n) VALUES (\n  $1,$2,$3,$4,$5,$6,$7\n);",
        "options": {
          "queryReplacement": "={{ [\n  $json.id,\n  $json.drive_file_id,\n  $json.manager_name,\n  $json.meeting_datetime,\n  $json.week_reference,\n  $json.transcript_raw || null,\n  $json.summary_structured ? JSON.stringify($json.summary_structured) : null\n] }}"
        }
      },
      "id": "501e70b2-e2dd-4efd-9003-dcca5ca358af",
      "name": "Insert Meeting",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1248,
        144
      ],
      "credentials": {
        "mySql": {
          "id": "f3UzvmAj6M8o27XN",
          "name": "Blaze_Ops Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function makeUuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nfunction addDays(dateString, days) {\n  const d = new Date(String(dateString).replace(' ', 'T'));\n  d.setDate(d.getDate() + days);\n  return d.toISOString().slice(0, 10);\n}\n\nconst meeting = $('Validate Meeting Payload').item.json;\nconst now = new Date().toISOString().slice(0, 19).replace('T', ' ');\nconst actions = meeting.actions || [];\n\nconst fallbackDueDate = addDays(meeting.meeting_datetime, 7);\n\nreturn actions.map(action => ({\n  json: {\n    id: makeUuid(),\n    meeting_id: meeting.id,\n    manager_name: meeting.manager_name,\n    property_name: action.property_name || null,\n    action_description: action.action_description,\n    action_owner: action.action_owner,\n    due_date: action.due_date || fallbackDueDate,\n    status: action.status || 'open',\n    created_at: now,\n    completed_at: null\n  }\n}));"
      },
      "id": "53b6deb9-0cfc-4441-9415-944c0ac7542a",
      "name": "Expand Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        144
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\n\nconst allowedOwners = [\n  item.manager_name,\n  'Brandon',\n  'Tammie',\n  'Amy',\n  'Breanna',\n  'Debbie',\n  'Dede',\n  'Shelbie',\n  'Chris',\n  'Ashlie'\n];\n\nif (!allowedOwners.includes(item.action_owner)) {\n  throw new Error(`Invalid action_owner: ${item.action_owner}`);\n}\n\nif (!/^\\d{4}-\\d{2}-\\d{2}$/.test(String(item.due_date))) {\n  throw new Error(`Invalid due_date format: ${item.due_date}`);\n}\n\nif (!item.action_description || !String(item.action_description).trim()) {\n  throw new Error('Missing action_description');\n}\n\nif (!item.meeting_id || !String(item.meeting_id).trim()) {\n  throw new Error('Missing meeting_id');\n}\n\nif (!item.manager_name || !String(item.manager_name).trim()) {\n  throw new Error('Missing manager_name');\n}\n\nif (!item.status || !['open', 'completed', 'overdue'].includes(item.status)) {\n  throw new Error(`Invalid status: ${item.status}`);\n}\n\nreturn {\n  json: item\n};"
      },
      "id": "1a3a3b1c-1037-4a95-80c1-6246aeb4ec6d",
      "name": "Validate Action Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO manager_meeting_actions (\n  id,\n  meeting_id,\n  manager_name,\n  property_name,\n  action_description,\n  action_owner,\n  due_date,\n  status,\n  created_at,\n  completed_at\n) VALUES (\n  $1,$2,$3,$4,$5,$6,$7,$8,$9,$10\n);",
        "options": {
          "queryReplacement": "={{\n[\n  $json.id,\n  $json.meeting_id,\n  $json.manager_name,\n  $json.property_name || null,\n  $json.action_description,\n  $json.action_owner,\n  $json.due_date,\n  $json.status,\n  $json.created_at,\n  $json.completed_at || null\n]\n}}"
        }
      },
      "id": "8ffe1ad2-4c40-4956-b5f5-55388ddd2d47",
      "name": "Insert Actions",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2016,
        144
      ],
      "credentials": {
        "mySql": {
          "id": "f3UzvmAj6M8o27XN",
          "name": "Blaze_Ops Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const meeting = $('Validate Meeting Payload').item.json;\n\n// Pull from Expand Actions (the last place real rows exist)\nconst actionItems = $('Expand Actions').all().map(i => {\n  const a = i.json;\n\n  return {\n    action_description: a.action_description,\n    action_owner: a.action_owner,\n    due_date: a.due_date,\n    property_name: a.property_name\n  };\n});\n\nreturn [{\n  json: {\n    success: true,\n    meeting_id: meeting.id,\n    manager_name: meeting.manager_name,\n    meeting_datetime: meeting.meeting_datetime,\n    week_reference: meeting.week_reference,\n    summary_structured: meeting.summary_structured,\n    actions: actionItems,\n    action_count: actionItems.length\n  }\n}];"
      },
      "id": "1853d413-3bf8-4a4a-b3da-290b6a5f119d",
      "name": "Build Success Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id\nFROM manager_meetings\nWHERE drive_file_id = $1\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{\n[\n  $json.drive_file_id\n]\n}}"
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        784,
        144
      ],
      "id": "bc7920c4-e40d-4c3d-b50d-052d5181753c",
      "name": "Check Existing Drive File",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "f3UzvmAj6M8o27XN",
          "name": "Blaze_Ops Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nif (rows.length > 0 && rows[0].json && rows[0].json.id) {\n  return [];\n}\n\nreturn [{\n  json: $('Validate Meeting Payload').item.json\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        144
      ],
      "id": "19738851-9b54-4bde-a6bd-6f36071a7675",
      "name": "If Duplicate"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4P1nQHSRPUnnwbpy",
          "mode": "id",
          "cachedResultUrl": "/workflow/4P1nQHSRPUnnwbpy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2496,
        144
      ],
      "id": "0b438aab-0459-4e29-9574-9f55003a995b",
      "name": "Call 'WMMA Post-Meeting Follow-Up'"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Meeting Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Meeting Payload": {
      "main": [
        [
          {
            "node": "Check Existing Drive File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Meeting": {
      "main": [
        [
          {
            "node": "Expand Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Actions": {
      "main": [
        [
          {
            "node": "Validate Action Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Action Rows": {
      "main": [
        [
          {
            "node": "Insert Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Actions": {
      "main": [
        [
          {
            "node": "Build Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Drive File": {
      "main": [
        [
          {
            "node": "If Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Duplicate": {
      "main": [
        [
          {
            "node": "Insert Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Summary": {
      "main": [
        [
          {
            "node": "Call 'WMMA Post-Meeting Follow-Up'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "drive_file_id": "1aktBGFYdOxas2CamczJaBu_cR3DQ45qehm2H_HHOua0",
          "full_text": "Breanna Weekly Meeting WMMA\nInvited    \nAttachments \nMeeting records  \n\n\nSummary\nManagement reviewed delinquency statuses and marketing strategies with a new focus on Facebook and automation tools.\u000b\u000bProperty delinquency and accounting\u000bAdobe and North Park delinquency figures were reviewed and adjusted following payment resolutions. Accounting staff must correct duplicate charges to accurately reflect the remaining balance.\u000b\u000bMarketing and Facebook integration\u000bNew procedures for posting vacant units to Facebook were introduced to improve lead generation. Automated listings through AppFolio and the company website remain primary sources for new interest.\u000b\u000bSecurity and unit walkthroughs\u000bAdministrative system restrictions were implemented to prevent errors while testing AI for listing content generation. Staff will complete vacant unit walkthroughs to finalize necessary repairs.\n\nRate this Summary: Helpful or Not Helpful\n\n\nDecisions\nWe've updated the Decisions section using your feedback.\nLet us know what you think: Helpful or Not Helpful\n\nALIGNED\nDelinquency reporting standard defined Delinquency reporting is standardized to include the total amount receivable rather than only delinquent rent.\nUnit renaming restricted in AppFolio System permissions in AppFolio are restricted to prevent the renaming of units, while maintaining all other user functionality.\n\n\nNext steps\n[Breanna Blanks] Pick Up Payment: Collect payment at the Adobe property this afternoon.\n[Tammy] Fix Accounting: Resolve the accounting error regarding the tenant transfer between unit 13 and unit 9.\n[Breanna Blanks] Coordinate Transfer: Get with Tammy to straighten out the tenant accounting error for unit 9 and 13.\n[Breanna Blanks] Contact Guest Card: Call Rachel Cripple again to follow up on her unit 37 inquiry; be pushy.\n[Breanna Blanks] Post Marketing Content: Load and post updated photos and marketing content for all vacant units.\n[Breanna Blanks] Learn Facebook Marketing: Adopt Facebook usage to learn how to effectively market properties.\n[Breanna Blanks] Complete Unit Walkthrough: Visit all remaining vacant units, make necessary notes, and send notes to Brandon Stewart.\n\n\nDetails\nDid the screenshots in this section make your notes better or worse?\nReview of Adobe Property Delinquency and Unit Issues: The Adobe property has seven vacant and seven not-ready units, with a reported delinquency amount of $5,300, which includes the total amount receivable, not just rent (00:01:21). The reported delinquency includes two units under eviction, totaling $2,000, and a specific issue with Bronco Maravic's account, which has an $860 charge (00:03:12). The account issue with Bronco Maravic arose because they were incorrectly charged in two places (unit 13 and unit 9), which means the actual delinquency is much lower, and the accounting needs to be corrected by Tammy (00:04:29).\nHandling of Accounting Errors and Payments at Adobe: A transfer attempt for the tenant was stopped because it affected the deposit and risked worsening the accounting issue, confirming that Tammy needs to handle the complex accounting correction. A $300 payment is scheduled to be picked up today, and once the $860 charge is corrected, the remaining non-eviction delinquency will drop to $620 (00:04:29). Brandon Stewart recommended that they should not be concerned about the error, as they are not the only one who has done it (00:05:39).\nAdobe Guest Card Follow-up and Communication Tracking: Adobe has one guest card for Rachel Cripple regarding unit 37 Adobe Trail, which was missed until a recent review. It was noted that this guest card came in on the 23rd, and they will need to reach out to Rachel Cripple and be \"pushy\" in their follow-up, using the record communication feature to track calls and emails. They confirmed that they had previously reached out via text after a call, but the prospect had not yet responded (00:06:44) (00:14:02).\n\nUpdates on Marketing and Vacant Unit Photos: They have been working on the marketing side, learning how to post and unpost vacant units, and are currently focused on loading photos and removing old, discounted specials. Brandon Stewart shared a resource for floor plans and marketing materials available in the shared Google Drive under `intranet managers and staff > property info > multi and single family > North Park Town Count Homes > marketing and signage` (00:09:06). The need for photos was emphasized, as units without photos generally receive less interest from prospective tenants (00:12:49).\n\nNorth Park Delinquency and Payment Status: At the North Park property, two top delinquency accounts are being resolved through third-party payments: one for the Borders unit, where the church is mailing Friday's rent and next month's rent, and the Buford unit, which is being covered by United Way (00:15:02). This significantly reduces the North Park delinquency down to an estimated $440 or $500. They also committed to becoming stricter about pursuing small balances going forward (00:16:08).\n\nCourtyard Delinquency and Resolution Status: For the Courtyard property, Christopher Jackson's rent has not been paid, and they have filed for a writ of possession, which resolves $2,600 of the property's delinquency (00:16:08). Furthermore, pet fees for several tenants ($125 and $70) and Eli Green's balance ($338) are expected to be covered by PCS and Vicki in the next month's payment, as these are all tenants associated with PCS (00:17:40).\nInstructions on Social Media Marketing using Facebook: Brandon Stewart provided a detailed demonstration of how to post available units in Facebook groups, such as \"Rent houses in Borger not for sale rent only,\" which is identified as the biggest source of guest cards (00:19:18) (00:22:24). They recommended including photos, the price ($872), the address (e.g., 37 Adobe Trail), and contact information in the posts (00:20:30). They noted that posting to Facebook, which they have not done previously, is guaranteed to generate leads and leases (00:22:24).\n\nConnecting Facebook Posts to the Company Website and AppFolio: Brandon Stewart demonstrated how to use the \"at tag\" (@North Park Town Homes) in Facebook posts to create a link that directs users to the North Park Facebook page and subsequently to the company's website page for available listings (00:26:24). Units posted to the website in AppFolio are automatically listed on the company website and external listing sites like Apartments.com and Rent.com (00:29:01). Reviewing the source of guest cards confirms that internet sources, such as Rent.com and the website, account for about 80% of inbound leads (00:31:27).\n\nNew Security and AI Tool Implementation: Brandon Stewart confirmed that the ability to change unit names has been removed to prevent accidental errors, while they can still update photos and marketing content (00:33:04). Brandon Stewart also introduced the test Gemini tool, which can generate updated listing content using parameters like current specials, advising them to double-check the content since AI can sometimes be inaccurate (00:34:00).\nFinal Assignments and Vacant Unit Walkthrough: They are waiting for Trey to assist with turning units, which is necessary to finalize two tenant signings. Brandon Stewart asked them to complete the vacant unit walkthrough that was interrupted when Tammy hurt themself, making notes of what needs to be done in every vacant unit so they can be addressed (00:35:57). They confirmed they will complete the walk-through and marketing updates this afternoon (00:37:10).\n\n\nYou should review Gemini's notes to make sure they're accurate. Get tips and learn how Gemini takes notes\nHow is the quality of these specific notes? Take a short survey to let us know your feedback, including how helpful the notes were for your needs.",
          "summary_structured": {
            "changes": [],
            "issues": [],
            "decisions": [
              "We've updated the Decisions section using your feedback.\nLet us know what you think: Helpful or Not Helpful\n\nALIGNED\nDelinquency reporting standard defined Delinquency reporting is standardized to include the total amount receivable rather than only delinquent rent.\nUnit renaming restricted in AppFolio System permissions in AppFolio are restricted to prevent the renaming of units, while maintaining all other user functionality."
            ]
          },
          "actions": [
            {
              "description": "Pick Up Payment: Collect payment at the Adobe property this afternoon.",
              "owner": "Breanna",
              "due_date": null,
              "property_name": "Adobe"
            },
            {
              "description": "Fix Accounting: Resolve the accounting error regarding the tenant transfer between unit 13 and unit 9.",
              "owner": "Tammy",
              "due_date": null,
              "property_name": null
            },
            {
              "description": "Coordinate Transfer: Get with Tammy to straighten out the tenant accounting error for unit 9 and 13.",
              "owner": "Breanna",
              "due_date": null,
              "property_name": null
            },
            {
              "description": "Contact Guest Card: Call Rachel Cripple again to follow up on her unit 37 inquiry; be pushy.",
              "owner": "Breanna",
              "due_date": null,
              "property_name": null
            },
            {
              "description": "Post Marketing Content: Load and post updated photos and marketing content for all vacant units.",
              "owner": "Breanna",
              "due_date": null,
              "property_name": null
            },
            {
              "description": "Learn Facebook Marketing: Adopt Facebook usage to learn how to effectively market properties.",
              "owner": "Breanna",
              "due_date": null,
              "property_name": null
            },
            {
              "description": "Complete Unit Walkthrough: Visit all remaining vacant units, make necessary notes, and send notes to Brandon Stewart.",
              "owner": "Breanna",
              "due_date": null,
              "property_name": null
            }
          ],
          "id": "fdb8d242-6b0f-4074-9653-874202088e00",
          "drive_last_modified": null,
          "manager_name": "Breanna",
          "meeting_datetime": "2026-04-28 09:28:00",
          "week_reference": "2026-04-27",
          "source_title": "Breanna Weekly Meeting WMMA - 2026/04/28 09:28 CDT - Notes by Gemini"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "8bcd3da9-f900-4971-a483-3ca752ec25b4",
  "activeVersionId": "0f7fed62-e3fd-4c90-b076-261343952849",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-22T17:02:21.504Z",
      "createdAt": "2026-04-22T17:02:21.504Z",
      "role": "workflow:owner",
      "workflowId": "hqovXTw8meebPsjT",
      "projectId": "4YBqTudLOBUQfTvU"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-29T02:51:16.759Z",
    "createdAt": "2026-04-29T02:43:07.833Z",
    "versionId": "0f7fed62-e3fd-4c90-b076-261343952849",
    "workflowId": "hqovXTw8meebPsjT",
    "nodes": [
      {
        "parameters": {},
        "id": "11ef7385-c4a1-40e7-9eff-2b481f06bf38",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          320,
          144
        ]
      },
      {
        "parameters": {
          "jsCode": "if (!$json.id || !String($json.id).trim()) {\n  throw new Error('Missing meeting id');\n}\n\nif (!$json.drive_file_id || !String($json.drive_file_id).trim()) {\n  throw new Error('Missing drive_file_id');\n}\n\nif (!$json.manager_name || !String($json.manager_name).trim()) {\n  throw new Error('Missing manager_name');\n}\n\nif (!$json.meeting_datetime || !String($json.meeting_datetime).trim()) {\n  throw new Error('Missing meeting_datetime');\n}\n\nif (!$json.week_reference || !String($json.week_reference).trim()) {\n  throw new Error('Missing week_reference');\n}\n\nfunction rebuildSummaryFromFullText(fullText) {\n  const text = String(fullText || '')\n    .replace(/\\r/g, '')\n    .replace(/\\u000b/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n  function esc(v) {\n    return String(v).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  }\n\n  function section(start, ends) {\n    const startRe = new RegExp(`(^|\\\\n)${esc(start)}\\\\s*\\\\n`, 'i');\n    const startMatch = text.match(startRe);\n\n    if (!startMatch) return '';\n\n    const startIndex = startMatch.index + startMatch[0].length;\n    let endIndex = text.length;\n\n    for (const end of ends) {\n      const slice = text.slice(startIndex);\n      const endRe = new RegExp(`(^|\\\\n)${esc(end)}\\\\s*\\\\n`, 'i');\n      const endMatch = slice.match(endRe);\n\n      if (endMatch) {\n        const candidateEnd = startIndex + endMatch.index;\n        if (candidateEnd < endIndex) {\n          endIndex = candidateEnd;\n        }\n      }\n    }\n\n    return text.substring(startIndex, endIndex).trim();\n  }\n\n  function clean(v) {\n    return String(v || '')\n      .replace(/Rate this Summary:[\\s\\S]*?(?=\\n\\n|$)/gi, '')\n      .replace(/Let us know what you think:[\\s\\S]*?(?=\\n\\n|$)/gi, '')\n      .replace(/^We've updated the Decisions section.*$/gim, '')\n      .replace(/^ALIGNED$/gim, '')\n      .replace(/Did the screenshots[\\s\\S]*?(?=\\n|$)/gi, '')\n      .replace(/You should review Gemini's notes[\\s\\S]*$/gi, '')\n      .replace(/How is the quality[\\s\\S]*$/gi, '')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n  }\n\n  const portfolioPerformance = clean(section('Portfolio Performance', [\n    'Operational Issues',\n    'Decisions',\n    'Next steps',\n    'Details'\n  ]));\n\n  const operationalIssues = clean(section('Operational Issues', [\n    'Decisions',\n    'Next steps',\n    'Details'\n  ]));\n\n  const summary = clean(section('Summary', [\n    'Decisions',\n    'Next steps',\n    'Details',\n    'Rate this Summary'\n  ]));\n\n  const details = clean(section('Details', [\n    \"You should review Gemini's notes\",\n    'How is the quality'\n  ]));\n\n  const decisions = clean(section('Decisions', [\n    'Next steps',\n    'Details'\n  ]));\n\n  return {\n    changes: portfolioPerformance\n      ? [portfolioPerformance]\n      : summary\n        ? [summary]\n        : [],\n\n    issues: operationalIssues\n      ? [operationalIssues]\n      : details\n        ? [details]\n        : [],\n\n    decisions: decisions ? [decisions] : []\n  };\n}\n\nfunction normalizeOwner(owner) {\n  const v = String(owner || '').trim().toLowerCase();\n\n  if (v === 'brandon stewart' || v === 'brandon') return 'Brandon';\n  if (v === 'tammie stewart' || v === 'tammy stewart' || v === 'tammy' || v === 'tammie') return 'Tammie';\n  if (v === 'breanna blanks' || v === 'breanna' || v === 'brianna blanks' || v === 'brianna') return 'Breanna';\n  if (v === 'amy') return 'Amy';\n  if (v === 'debbie') return 'Debbie';\n  if (v === 'dede') return 'Dede';\n  if (v === 'shelbie') return 'Shelbie';\n  if (v === 'chris') return 'Chris';\n  if (v === 'ashlie' || v === 'ashlie wagner') return 'Ashlie';\n\n  return String(owner || '').trim();\n}\n\n// Validate or repair summary_structured\nlet summaryStructured = $json.summary_structured;\n\nconst summaryShapeValid =\n  summaryStructured &&\n  Array.isArray(summaryStructured.changes) &&\n  Array.isArray(summaryStructured.issues) &&\n  Array.isArray(summaryStructured.decisions);\n\nconst summaryNeedsRepair =\n  !summaryShapeValid ||\n  summaryStructured.changes.length === 0 ||\n  summaryStructured.issues.length === 0;\n\nif (summaryNeedsRepair) {\n  summaryStructured = rebuildSummaryFromFullText($json.full_text);\n}\n\nif (\n  !summaryStructured ||\n  !Array.isArray(summaryStructured.changes) ||\n  !Array.isArray(summaryStructured.issues) ||\n  !Array.isArray(summaryStructured.decisions)\n) {\n  throw new Error('Invalid summary_structured shape');\n}\n\n// Validate / normalize actions\nlet actions = Array.isArray($json.actions) ? $json.actions : [];\n\nif (actions.length < 1) {\n  throw new Error('At least 1 action is required');\n}\n\nif (actions.length > 25) {\n  throw new Error(`Too many actions (${actions.length}). Possible parsing issue.`);\n}\n\nactions = actions.map((a, i) => {\n  const description = a.action_description || a.description;\n  const owner = normalizeOwner(a.action_owner || a.owner);\n\n  if (!description || !String(description).trim()) {\n    throw new Error(`Action ${i + 1} missing description`);\n  }\n\n  if (!owner || !String(owner).trim()) {\n    throw new Error(`Action ${i + 1} missing owner`);\n  }\n\n  return {\n    action_index: i + 1,\n    action_description: String(description).trim(),\n    action_owner: owner,\n    due_date: a.due_date || null,\n    status: a.status || 'open',\n    property_name: a.property_name || null\n  };\n});\n\nreturn [{\n  json: {\n    ...$json,\n    summary_structured: summaryStructured,\n    actions,\n    action_count: actions.length\n  }\n}];"
        },
        "id": "392f788c-7c94-44ff-bf84-923c499195a4",
        "name": "Validate Meeting Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          528,
          144
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO manager_meetings (\n  id,\n  drive_file_id,\n  manager_name,\n  meeting_datetime,\n  week_reference,\n  transcript_raw,\n  summary_structured\n) VALUES (\n  $1,$2,$3,$4,$5,$6,$7\n);",
          "options": {
            "queryReplacement": "={{ [\n  $json.id,\n  $json.drive_file_id,\n  $json.manager_name,\n  $json.meeting_datetime,\n  $json.week_reference,\n  $json.transcript_raw || null,\n  $json.summary_structured ? JSON.stringify($json.summary_structured) : null\n] }}"
          }
        },
        "id": "501e70b2-e2dd-4efd-9003-dcca5ca358af",
        "name": "Insert Meeting",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          1248,
          144
        ],
        "credentials": {
          "mySql": {
            "id": "f3UzvmAj6M8o27XN",
            "name": "Blaze_Ops Database"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "function makeUuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nfunction addDays(dateString, days) {\n  const d = new Date(String(dateString).replace(' ', 'T'));\n  d.setDate(d.getDate() + days);\n  return d.toISOString().slice(0, 10);\n}\n\nconst meeting = $('Validate Meeting Payload').item.json;\nconst now = new Date().toISOString().slice(0, 19).replace('T', ' ');\nconst actions = meeting.actions || [];\n\nconst fallbackDueDate = addDays(meeting.meeting_datetime, 7);\n\nreturn actions.map(action => ({\n  json: {\n    id: makeUuid(),\n    meeting_id: meeting.id,\n    manager_name: meeting.manager_name,\n    property_name: action.property_name || null,\n    action_description: action.action_description,\n    action_owner: action.action_owner,\n    due_date: action.due_date || fallbackDueDate,\n    status: action.status || 'open',\n    created_at: now,\n    completed_at: null\n  }\n}));"
        },
        "id": "53b6deb9-0cfc-4441-9415-944c0ac7542a",
        "name": "Expand Actions",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1504,
          144
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $json;\n\nconst allowedOwners = [\n  item.manager_name,\n  'Brandon',\n  'Tammie',\n  'Amy',\n  'Breanna',\n  'Debbie',\n  'Dede',\n  'Shelbie',\n  'Chris',\n  'Ashlie'\n];\n\nif (!allowedOwners.includes(item.action_owner)) {\n  throw new Error(`Invalid action_owner: ${item.action_owner}`);\n}\n\nif (!/^\\d{4}-\\d{2}-\\d{2}$/.test(String(item.due_date))) {\n  throw new Error(`Invalid due_date format: ${item.due_date}`);\n}\n\nif (!item.action_description || !String(item.action_description).trim()) {\n  throw new Error('Missing action_description');\n}\n\nif (!item.meeting_id || !String(item.meeting_id).trim()) {\n  throw new Error('Missing meeting_id');\n}\n\nif (!item.manager_name || !String(item.manager_name).trim()) {\n  throw new Error('Missing manager_name');\n}\n\nif (!item.status || !['open', 'completed', 'overdue'].includes(item.status)) {\n  throw new Error(`Invalid status: ${item.status}`);\n}\n\nreturn {\n  json: item\n};"
        },
        "id": "1a3a3b1c-1037-4a95-80c1-6246aeb4ec6d",
        "name": "Validate Action Rows",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1760,
          144
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO manager_meeting_actions (\n  id,\n  meeting_id,\n  manager_name,\n  property_name,\n  action_description,\n  action_owner,\n  due_date,\n  status,\n  created_at,\n  completed_at\n) VALUES (\n  $1,$2,$3,$4,$5,$6,$7,$8,$9,$10\n);",
          "options": {
            "queryReplacement": "={{\n[\n  $json.id,\n  $json.meeting_id,\n  $json.manager_name,\n  $json.property_name || null,\n  $json.action_description,\n  $json.action_owner,\n  $json.due_date,\n  $json.status,\n  $json.created_at,\n  $json.completed_at || null\n]\n}}"
          }
        },
        "id": "8ffe1ad2-4c40-4956-b5f5-55388ddd2d47",
        "name": "Insert Actions",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          2016,
          144
        ],
        "credentials": {
          "mySql": {
            "id": "f3UzvmAj6M8o27XN",
            "name": "Blaze_Ops Database"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const meeting = $('Validate Meeting Payload').item.json;\nconst actionCount = $input.all().length;\n\nreturn [{\n  json: {\n    success: true,\n    meeting_id: meeting.id,\n    manager_name: meeting.manager_name,\n    meeting_datetime: meeting.meeting_datetime,\n    week_reference: meeting.week_reference,\n    action_count: actionCount\n  }\n}];"
        },
        "id": "1853d413-3bf8-4a4a-b3da-290b6a5f119d",
        "name": "Build Success Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2272,
          144
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id\nFROM manager_meetings\nWHERE drive_file_id = $1\nLIMIT 1;",
          "options": {
            "queryReplacement": "={{\n[\n  $json.drive_file_id\n]\n}}"
          }
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          784,
          144
        ],
        "id": "bc7920c4-e40d-4c3d-b50d-052d5181753c",
        "name": "Check Existing Drive File",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "f3UzvmAj6M8o27XN",
            "name": "Blaze_Ops Database"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all();\n\nif (rows.length > 0 && rows[0].json && rows[0].json.id) {\n  return [];\n}\n\nreturn [{\n  json: $('Validate Meeting Payload').item.json\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          144
        ],
        "id": "19738851-9b54-4bde-a6bd-6f36071a7675",
        "name": "If Duplicate"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "4P1nQHSRPUnnwbpy",
            "mode": "id",
            "cachedResultUrl": "/workflow/4P1nQHSRPUnnwbpy"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2480,
          144
        ],
        "id": "0b438aab-0459-4e29-9574-9f55003a995b",
        "name": "Call 'WMMA Post-Meeting Follow-Up'"
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Validate Meeting Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Meeting Payload": {
        "main": [
          [
            {
              "node": "Check Existing Drive File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Meeting": {
        "main": [
          [
            {
              "node": "Expand Actions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand Actions": {
        "main": [
          [
            {
              "node": "Validate Action Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Action Rows": {
        "main": [
          [
            {
              "node": "Insert Actions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Actions": {
        "main": [
          [
            {
              "node": "Build Success Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Existing Drive File": {
        "main": [
          [
            {
              "node": "If Duplicate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Duplicate": {
        "main": [
          [
            {
              "node": "Insert Meeting",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Success Summary": {
        "main": [
          [
            {
              "node": "Call 'WMMA Post-Meeting Follow-Up'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Brandon Stewart",
    "name": "Version 0f7fed62",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-04-23T12:40:11.767Z",
      "createdAt": "2026-04-23T12:40:11.767Z",
      "id": "nwYcKrWKYFiGYTIf",
      "name": "Meeting Workflow"
    }
  ]
}