n8n/workflows/meeting-processing.json
{
  "updatedAt": "2026-04-29T15:52:10.611Z",
  "createdAt": "2026-04-22T17:02:21.504Z",
  "id": "hqovXTw8meebPsjT",
  "name": "WMMA Meeting Processing",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "11ef7385-c4a1-40e7-9eff-2b481f06bf38",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        320,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "if (!$json.id || !String($json.id).trim()) {\n  throw new Error('Missing meeting id');\n}\n\nif (!$json.drive_file_id || !String($json.drive_file_id).trim()) {\n  throw new Error('Missing drive_file_id');\n}\n\nif (!$json.manager_name || !String($json.manager_name).trim()) {\n  throw new Error('Missing manager_name');\n}\n\nif (!$json.meeting_datetime || !String($json.meeting_datetime).trim()) {\n  throw new Error('Missing meeting_datetime');\n}\n\nif (!$json.week_reference || !String($json.week_reference).trim()) {\n  throw new Error('Missing week_reference');\n}\n\nfunction rebuildSummaryFromFullText(fullText) {\n  const text = String(fullText || '')\n    .replace(/\\r/g, '')\n    .replace(/\\u000b/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n  function esc(v) {\n    return String(v).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  }\n\n  function section(start, ends) {\n    const startRe = new RegExp(`(^|\\\\n)${esc(start)}\\\\s*\\\\n`, 'i');\n    const startMatch = text.match(startRe);\n\n    if (!startMatch) return '';\n\n    const startIndex = startMatch.index + startMatch[0].length;\n    let endIndex = text.length;\n\n    for (const end of ends) {\n      const slice = text.slice(startIndex);\n      const endRe = new RegExp(`(^|\\\\n)${esc(end)}\\\\s*\\\\n`, 'i');\n      const endMatch = slice.match(endRe);\n\n      if (endMatch) {\n        const candidateEnd = startIndex + endMatch.index;\n        if (candidateEnd < endIndex) {\n          endIndex = candidateEnd;\n        }\n      }\n    }\n\n    return text.substring(startIndex, endIndex).trim();\n  }\n\n  function clean(v) {\n    return String(v || '')\n      .replace(/Rate this Summary:[\\s\\S]*?(?=\\n\\n|$)/gi, '')\n      .replace(/Let us know what you think:[\\s\\S]*?(?=\\n\\n|$)/gi, '')\n      .replace(/^We've updated the Decisions section.*$/gim, '')\n      .replace(/^ALIGNED$/gim, '')\n      .replace(/Did the screenshots[\\s\\S]*?(?=\\n|$)/gi, '')\n      .replace(/You should review Gemini's notes[\\s\\S]*$/gi, '')\n      .replace(/How is the quality[\\s\\S]*$/gi, '')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n  }\n\n  const portfolioPerformance = clean(section('Portfolio Performance', [\n    'Operational Issues',\n    'Decisions',\n    'Next steps',\n    'Details'\n  ]));\n\n  const operationalIssues = clean(section('Operational Issues', [\n    'Decisions',\n    'Next steps',\n    'Details'\n  ]));\n\n  const summary = clean(section('Summary', [\n    'Decisions',\n    'Next steps',\n    'Details',\n    'Rate this Summary'\n  ]));\n\n  const details = clean(section('Details', [\n    \"You should review Gemini's notes\",\n    'How is the quality'\n  ]));\n\n  const decisions = clean(section('Decisions', [\n    'Next steps',\n    'Details'\n  ]));\n\n  return {\n    changes: portfolioPerformance\n      ? [portfolioPerformance]\n      : summary\n        ? [summary]\n        : [],\n\n    issues: operationalIssues\n      ? [operationalIssues]\n      : details\n        ? [details]\n        : [],\n\n    decisions: decisions ? [decisions] : []\n  };\n}\n\nfunction normalizeOwner(owner) {\n  const v = String(owner || '').trim().toLowerCase();\n\n  if (v === 'brandon stewart' || v === 'brandon') return 'Brandon';\n  if (v === 'tammie stewart' || v === 'tammy stewart' || v === 'tammy' || v === 'tammie') return 'Tammie';\n  if (v === 'breanna blanks' || v === 'breanna' || v === 'brianna blanks' || v === 'brianna') return 'Breanna';\n  if (v === 'amy') return 'Amy';\n  if (v === 'debbie') return 'Debbie';\n  if (v === 'dede') return 'Dede';\n  if (v === 'shelbie') return 'Shelbie';\n  if (v === 'chris') return 'Chris';\n  if (v === 'ashlie' || v === 'ashlie wagner') return 'Ashlie';\n\n  return String(owner || '').trim();\n}\n\n// Validate or repair summary_structured\nlet summaryStructured = $json.summary_structured;\n\nconst summaryShapeValid =\n  summaryStructured &&\n  Array.isArray(summaryStructured.changes) &&\n  Array.isArray(summaryStructured.issues) &&\n  Array.isArray(summaryStructured.decisions);\n\nconst summaryNeedsRepair =\n  !summaryShapeValid ||\n  summaryStructured.changes.length === 0 ||\n  summaryStructured.issues.length === 0;\n\nif (summaryNeedsRepair) {\n  summaryStructured = rebuildSummaryFromFullText($json.full_text);\n}\n\nif (\n  !summaryStructured ||\n  !Array.isArray(summaryStructured.changes) ||\n  !Array.isArray(summaryStructured.issues) ||\n  !Array.isArray(summaryStructured.decisions)\n) {\n  throw new Error('Invalid summary_structured shape');\n}\n\n// Validate / normalize actions\nlet actions = Array.isArray($json.actions) ? $json.actions : [];\n\nif (actions.length < 1) {\n  throw new Error('At least 1 action is required');\n}\n\nif (actions.length > 25) {\n  throw new Error(`Too many actions (${actions.length}). Possible parsing issue.`);\n}\n\nactions = actions.map((a, i) => {\n  const description = a.action_description || a.description;\n  const owner = normalizeOwner(a.action_owner || a.owner);\n\n  if (!description || !String(description).trim()) {\n    throw new Error(`Action ${i + 1} missing description`);\n  }\n\n  if (!owner || !String(owner).trim()) {\n    throw new Error(`Action ${i + 1} missing owner`);\n  }\n\n  return {\n    action_index: i + 1,\n    action_description: String(description).trim(),\n    action_owner: owner,\n    due_date: a.due_date || null,\n    status: a.status || 'open',\n    property_name: a.property_name || null\n  };\n});\n\nreturn [{\n  json: {\n    ...$json,\n    summary_structured: summaryStructured,\n    actions,\n    action_count: actions.length\n  }\n}];"
      },
      "id": "392f788c-7c94-44ff-bf84-923c499195a4",
      "name": "Validate Meeting Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO manager_meetings (\n  id,\n  drive_file_id,\n  manager_name,\n  meeting_datetime,\n  week_reference,\n  transcript_raw,\n  summary_structured\n) VALUES (\n  $1,$2,$3,$4,$5,$6,$7\n);",
        "options": {
          "queryReplacement": "={{ [\n  $json.id,\n  $json.drive_file_id,\n  $json.manager_name,\n  $json.meeting_datetime,\n  $json.week_reference,\n  $json.transcript_raw || null,\n  $json.summary_structured ? JSON.stringify($json.summary_structured) : null\n] }}"
        }
      },
      "id": "501e70b2-e2dd-4efd-9003-dcca5ca358af",
      "name": "Insert Meeting",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1248,
        144
      ],
      "credentials": {
        "mySql": {
          "id": "f3UzvmAj6M8o27XN",
          "name": "Blaze_Ops Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function makeUuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nfunction addDays(dateString, days) {\n  const d = new Date(String(dateString).replace(' ', 'T'));\n  d.setDate(d.getDate() + days);\n  return d.toISOString().slice(0, 10);\n}\n\nconst meeting = $('Validate Meeting Payload').item.json;\nconst now = new Date().toISOString().slice(0, 19).replace('T', ' ');\nconst actions = meeting.actions || [];\n\nconst fallbackDueDate = addDays(meeting.meeting_datetime, 7);\n\nreturn actions.map(action => ({\n  json: {\n    id: makeUuid(),\n    meeting_id: meeting.id,\n    manager_name: meeting.manager_name,\n    property_name: action.property_name || null,\n    action_description: action.action_description,\n    action_owner: action.action_owner,\n    due_date: action.due_date || fallbackDueDate,\n    status: action.status || 'open',\n    created_at: now,\n    completed_at: null\n  }\n}));"
      },
      "id": "53b6deb9-0cfc-4441-9415-944c0ac7542a",
      "name": "Expand Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        144
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\n\nconst allowedOwners = [\n  item.manager_name,\n  'Brandon',\n  'Tammie',\n  'Amy',\n  'Breanna',\n  'Debbie',\n  'Dede',\n  'Shelbie',\n  'Chris',\n  'Ashlie'\n];\n\nif (!allowedOwners.includes(item.action_owner)) {\n  throw new Error(`Invalid action_owner: ${item.action_owner}`);\n}\n\nif (!/^\\d{4}-\\d{2}-\\d{2}$/.test(String(item.due_date))) {\n  throw new Error(`Invalid due_date format: ${item.due_date}`);\n}\n\nif (!item.action_description || !String(item.action_description).trim()) {\n  throw new Error('Missing action_description');\n}\n\nif (!item.meeting_id || !String(item.meeting_id).trim()) {\n  throw new Error('Missing meeting_id');\n}\n\nif (!item.manager_name || !String(item.manager_name).trim()) {\n  throw new Error('Missing manager_name');\n}\n\nif (!item.status || !['open', 'completed', 'overdue'].includes(item.status)) {\n  throw new Error(`Invalid status: ${item.status}`);\n}\n\nreturn {\n  json: item\n};"
      },
      "id": "1a3a3b1c-1037-4a95-80c1-6246aeb4ec6d",
      "name": "Validate Action Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO manager_meeting_actions (\n  id,\n  meeting_id,\n  manager_name,\n  property_name,\n  action_description,\n  action_owner,\n  due_date,\n  status,\n  created_at,\n  completed_at\n) VALUES (\n  $1,$2,$3,$4,$5,$6,$7,$8,$9,$10\n);",
        "options": {
          "queryReplacement": "={{\n[\n  $json.id,\n  $json.meeting_id,\n  $json.manager_name,\n  $json.property_name || null,\n  $json.action_description,\n  $json.action_owner,\n  $json.due_date,\n  $json.status,\n  $json.created_at,\n  $json.completed_at || null\n]\n}}"
        }
      },
      "id": "8ffe1ad2-4c40-4956-b5f5-55388ddd2d47",
      "name": "Insert Actions",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2016,
        144
      ],
      "credentials": {
        "mySql": {
          "id": "f3UzvmAj6M8o27XN",
          "name": "Blaze_Ops Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const meeting = $('Validate Meeting Payload').item.json;\n\n// Pull from Expand Actions (the last place real rows exist)\nconst actionItems = $('Expand Actions').all().map(i => {\n  const a = i.json;\n\n  return {\n    action_description: a.action_description,\n    action_owner: a.action_owner,\n    due_date: a.due_date,\n    property_name: a.property_name\n  };\n});\n\nreturn [{\n  json: {\n    success: true,\n    meeting_id: meeting.id,\n    manager_name: meeting.manager_name,\n    meeting_datetime: meeting.meeting_datetime,\n    week_reference: meeting.week_reference,\n    summary_structured: meeting.summary_structured,\n    actions: actionItems,\n    action_count: actionItems.length\n  }\n}];"
      },
      "id": "1853d413-3bf8-4a4a-b3da-290b6a5f119d",
      "name": "Build Success Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id\nFROM manager_meetings\nWHERE drive_file_id = $1\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{\n[\n  $json.drive_file_id\n]\n}}"
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        784,
        144
      ],
      "id": "bc7920c4-e40d-4c3d-b50d-052d5181753c",
      "name": "Check Existing Drive File",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "f3UzvmAj6M8o27XN",
          "name": "Blaze_Ops Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nif (rows.length > 0 && rows[0].json && rows[0].json.id) {\n  return [];\n}\n\nreturn [{\n  json: $('Validate Meeting Payload').item.json\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        144
      ],
      "id": "19738851-9b54-4bde-a6bd-6f36071a7675",
      "name": "If Duplicate"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4P1nQHSRPUnnwbpy",
          "mode": "id",
          "cachedResultUrl": "/workflow/4P1nQHSRPUnnwbpy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2496,
        144
      ],
      "id": "0b438aab-0459-4e29-9574-9f55003a995b",
      "name": "Call 'WMMA Post-Meeting Follow-Up'"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Meeting Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Meeting Payload": {
      "main": [
        [
          {
            "node": "Check Existing Drive File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Meeting": {
      "main": [
        [
          {
            "node": "Expand Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Actions": {
      "main": [
        [
          {
            "node": "Validate Action Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Action Rows": {
      "main": [
        [
          {
            "node": "Insert Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Actions": {
      "main": [
        [
          {
            "node": "Build Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Drive File": {
      "main": [
        [
          {
            "node": "If Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Duplicate": {
      "main": [
        [
          {
            "node": "Insert Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Summary": {
      "main": [
        [
          {
            "node": "Call 'WMMA Post-Meeting Follow-Up'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 20,
    "errorWorkflow": "3WJZrZsLJqgg1EIM",
    "saveDataSuccessExecution": "none"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8bcd3da9-f900-4971-a483-3ca752ec25b4",
  "activeVersionId": "8bcd3da9-f900-4971-a483-3ca752ec25b4",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-22T17:02:21.504Z",
      "createdAt": "2026-04-22T17:02:21.504Z",
      "role": "workflow:owner",
      "workflowId": "hqovXTw8meebPsjT",
      "projectId": "4YBqTudLOBUQfTvU"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-29T15:51:44.928Z",
    "createdAt": "2026-04-29T02:58:29.101Z",
    "versionId": "8bcd3da9-f900-4971-a483-3ca752ec25b4",
    "workflowId": "hqovXTw8meebPsjT",
    "nodes": [
      {
        "parameters": {},
        "id": "11ef7385-c4a1-40e7-9eff-2b481f06bf38",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          320,
          144
        ]
      },
      {
        "parameters": {
          "jsCode": "if (!$json.id || !String($json.id).trim()) {\n  throw new Error('Missing meeting id');\n}\n\nif (!$json.drive_file_id || !String($json.drive_file_id).trim()) {\n  throw new Error('Missing drive_file_id');\n}\n\nif (!$json.manager_name || !String($json.manager_name).trim()) {\n  throw new Error('Missing manager_name');\n}\n\nif (!$json.meeting_datetime || !String($json.meeting_datetime).trim()) {\n  throw new Error('Missing meeting_datetime');\n}\n\nif (!$json.week_reference || !String($json.week_reference).trim()) {\n  throw new Error('Missing week_reference');\n}\n\nfunction rebuildSummaryFromFullText(fullText) {\n  const text = String(fullText || '')\n    .replace(/\\r/g, '')\n    .replace(/\\u000b/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n  function esc(v) {\n    return String(v).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  }\n\n  function section(start, ends) {\n    const startRe = new RegExp(`(^|\\\\n)${esc(start)}\\\\s*\\\\n`, 'i');\n    const startMatch = text.match(startRe);\n\n    if (!startMatch) return '';\n\n    const startIndex = startMatch.index + startMatch[0].length;\n    let endIndex = text.length;\n\n    for (const end of ends) {\n      const slice = text.slice(startIndex);\n      const endRe = new RegExp(`(^|\\\\n)${esc(end)}\\\\s*\\\\n`, 'i');\n      const endMatch = slice.match(endRe);\n\n      if (endMatch) {\n        const candidateEnd = startIndex + endMatch.index;\n        if (candidateEnd < endIndex) {\n          endIndex = candidateEnd;\n        }\n      }\n    }\n\n    return text.substring(startIndex, endIndex).trim();\n  }\n\n  function clean(v) {\n    return String(v || '')\n      .replace(/Rate this Summary:[\\s\\S]*?(?=\\n\\n|$)/gi, '')\n      .replace(/Let us know what you think:[\\s\\S]*?(?=\\n\\n|$)/gi, '')\n      .replace(/^We've updated the Decisions section.*$/gim, '')\n      .replace(/^ALIGNED$/gim, '')\n      .replace(/Did the screenshots[\\s\\S]*?(?=\\n|$)/gi, '')\n      .replace(/You should review Gemini's notes[\\s\\S]*$/gi, '')\n      .replace(/How is the quality[\\s\\S]*$/gi, '')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n  }\n\n  const portfolioPerformance = clean(section('Portfolio Performance', [\n    'Operational Issues',\n    'Decisions',\n    'Next steps',\n    'Details'\n  ]));\n\n  const operationalIssues = clean(section('Operational Issues', [\n    'Decisions',\n    'Next steps',\n    'Details'\n  ]));\n\n  const summary = clean(section('Summary', [\n    'Decisions',\n    'Next steps',\n    'Details',\n    'Rate this Summary'\n  ]));\n\n  const details = clean(section('Details', [\n    \"You should review Gemini's notes\",\n    'How is the quality'\n  ]));\n\n  const decisions = clean(section('Decisions', [\n    'Next steps',\n    'Details'\n  ]));\n\n  return {\n    changes: portfolioPerformance\n      ? [portfolioPerformance]\n      : summary\n        ? [summary]\n        : [],\n\n    issues: operationalIssues\n      ? [operationalIssues]\n      : details\n        ? [details]\n        : [],\n\n    decisions: decisions ? [decisions] : []\n  };\n}\n\nfunction normalizeOwner(owner) {\n  const v = String(owner || '').trim().toLowerCase();\n\n  if (v === 'brandon stewart' || v === 'brandon') return 'Brandon';\n  if (v === 'tammie stewart' || v === 'tammy stewart' || v === 'tammy' || v === 'tammie') return 'Tammie';\n  if (v === 'breanna blanks' || v === 'breanna' || v === 'brianna blanks' || v === 'brianna') return 'Breanna';\n  if (v === 'amy') return 'Amy';\n  if (v === 'debbie') return 'Debbie';\n  if (v === 'dede') return 'Dede';\n  if (v === 'shelbie') return 'Shelbie';\n  if (v === 'chris') return 'Chris';\n  if (v === 'ashlie' || v === 'ashlie wagner') return 'Ashlie';\n\n  return String(owner || '').trim();\n}\n\n// Validate or repair summary_structured\nlet summaryStructured = $json.summary_structured;\n\nconst summaryShapeValid =\n  summaryStructured &&\n  Array.isArray(summaryStructured.changes) &&\n  Array.isArray(summaryStructured.issues) &&\n  Array.isArray(summaryStructured.decisions);\n\nconst summaryNeedsRepair =\n  !summaryShapeValid ||\n  summaryStructured.changes.length === 0 ||\n  summaryStructured.issues.length === 0;\n\nif (summaryNeedsRepair) {\n  summaryStructured = rebuildSummaryFromFullText($json.full_text);\n}\n\nif (\n  !summaryStructured ||\n  !Array.isArray(summaryStructured.changes) ||\n  !Array.isArray(summaryStructured.issues) ||\n  !Array.isArray(summaryStructured.decisions)\n) {\n  throw new Error('Invalid summary_structured shape');\n}\n\n// Validate / normalize actions\nlet actions = Array.isArray($json.actions) ? $json.actions : [];\n\nif (actions.length < 1) {\n  throw new Error('At least 1 action is required');\n}\n\nif (actions.length > 25) {\n  throw new Error(`Too many actions (${actions.length}). Possible parsing issue.`);\n}\n\nactions = actions.map((a, i) => {\n  const description = a.action_description || a.description;\n  const owner = normalizeOwner(a.action_owner || a.owner);\n\n  if (!description || !String(description).trim()) {\n    throw new Error(`Action ${i + 1} missing description`);\n  }\n\n  if (!owner || !String(owner).trim()) {\n    throw new Error(`Action ${i + 1} missing owner`);\n  }\n\n  return {\n    action_index: i + 1,\n    action_description: String(description).trim(),\n    action_owner: owner,\n    due_date: a.due_date || null,\n    status: a.status || 'open',\n    property_name: a.property_name || null\n  };\n});\n\nreturn [{\n  json: {\n    ...$json,\n    summary_structured: summaryStructured,\n    actions,\n    action_count: actions.length\n  }\n}];"
        },
        "id": "392f788c-7c94-44ff-bf84-923c499195a4",
        "name": "Validate Meeting Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          528,
          144
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO manager_meetings (\n  id,\n  drive_file_id,\n  manager_name,\n  meeting_datetime,\n  week_reference,\n  transcript_raw,\n  summary_structured\n) VALUES (\n  $1,$2,$3,$4,$5,$6,$7\n);",
          "options": {
            "queryReplacement": "={{ [\n  $json.id,\n  $json.drive_file_id,\n  $json.manager_name,\n  $json.meeting_datetime,\n  $json.week_reference,\n  $json.transcript_raw || null,\n  $json.summary_structured ? JSON.stringify($json.summary_structured) : null\n] }}"
          }
        },
        "id": "501e70b2-e2dd-4efd-9003-dcca5ca358af",
        "name": "Insert Meeting",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          1248,
          144
        ],
        "credentials": {
          "mySql": {
            "id": "f3UzvmAj6M8o27XN",
            "name": "Blaze_Ops Database"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "function makeUuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nfunction addDays(dateString, days) {\n  const d = new Date(String(dateString).replace(' ', 'T'));\n  d.setDate(d.getDate() + days);\n  return d.toISOString().slice(0, 10);\n}\n\nconst meeting = $('Validate Meeting Payload').item.json;\nconst now = new Date().toISOString().slice(0, 19).replace('T', ' ');\nconst actions = meeting.actions || [];\n\nconst fallbackDueDate = addDays(meeting.meeting_datetime, 7);\n\nreturn actions.map(action => ({\n  json: {\n    id: makeUuid(),\n    meeting_id: meeting.id,\n    manager_name: meeting.manager_name,\n    property_name: action.property_name || null,\n    action_description: action.action_description,\n    action_owner: action.action_owner,\n    due_date: action.due_date || fallbackDueDate,\n    status: action.status || 'open',\n    created_at: now,\n    completed_at: null\n  }\n}));"
        },
        "id": "53b6deb9-0cfc-4441-9415-944c0ac7542a",
        "name": "Expand Actions",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1504,
          144
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $json;\n\nconst allowedOwners = [\n  item.manager_name,\n  'Brandon',\n  'Tammie',\n  'Amy',\n  'Breanna',\n  'Debbie',\n  'Dede',\n  'Shelbie',\n  'Chris',\n  'Ashlie'\n];\n\nif (!allowedOwners.includes(item.action_owner)) {\n  throw new Error(`Invalid action_owner: ${item.action_owner}`);\n}\n\nif (!/^\\d{4}-\\d{2}-\\d{2}$/.test(String(item.due_date))) {\n  throw new Error(`Invalid due_date format: ${item.due_date}`);\n}\n\nif (!item.action_description || !String(item.action_description).trim()) {\n  throw new Error('Missing action_description');\n}\n\nif (!item.meeting_id || !String(item.meeting_id).trim()) {\n  throw new Error('Missing meeting_id');\n}\n\nif (!item.manager_name || !String(item.manager_name).trim()) {\n  throw new Error('Missing manager_name');\n}\n\nif (!item.status || !['open', 'completed', 'overdue'].includes(item.status)) {\n  throw new Error(`Invalid status: ${item.status}`);\n}\n\nreturn {\n  json: item\n};"
        },
        "id": "1a3a3b1c-1037-4a95-80c1-6246aeb4ec6d",
        "name": "Validate Action Rows",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1760,
          144
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO manager_meeting_actions (\n  id,\n  meeting_id,\n  manager_name,\n  property_name,\n  action_description,\n  action_owner,\n  due_date,\n  status,\n  created_at,\n  completed_at\n) VALUES (\n  $1,$2,$3,$4,$5,$6,$7,$8,$9,$10\n);",
          "options": {
            "queryReplacement": "={{\n[\n  $json.id,\n  $json.meeting_id,\n  $json.manager_name,\n  $json.property_name || null,\n  $json.action_description,\n  $json.action_owner,\n  $json.due_date,\n  $json.status,\n  $json.created_at,\n  $json.completed_at || null\n]\n}}"
          }
        },
        "id": "8ffe1ad2-4c40-4956-b5f5-55388ddd2d47",
        "name": "Insert Actions",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          2016,
          144
        ],
        "credentials": {
          "mySql": {
            "id": "f3UzvmAj6M8o27XN",
            "name": "Blaze_Ops Database"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const meeting = $('Validate Meeting Payload').item.json;\n\n// Pull from Expand Actions (the last place real rows exist)\nconst actionItems = $('Expand Actions').all().map(i => {\n  const a = i.json;\n\n  return {\n    action_description: a.action_description,\n    action_owner: a.action_owner,\n    due_date: a.due_date,\n    property_name: a.property_name\n  };\n});\n\nreturn [{\n  json: {\n    success: true,\n    meeting_id: meeting.id,\n    manager_name: meeting.manager_name,\n    meeting_datetime: meeting.meeting_datetime,\n    week_reference: meeting.week_reference,\n    summary_structured: meeting.summary_structured,\n    actions: actionItems,\n    action_count: actionItems.length\n  }\n}];"
        },
        "id": "1853d413-3bf8-4a4a-b3da-290b6a5f119d",
        "name": "Build Success Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2272,
          144
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id\nFROM manager_meetings\nWHERE drive_file_id = $1\nLIMIT 1;",
          "options": {
            "queryReplacement": "={{\n[\n  $json.drive_file_id\n]\n}}"
          }
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          784,
          144
        ],
        "id": "bc7920c4-e40d-4c3d-b50d-052d5181753c",
        "name": "Check Existing Drive File",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "f3UzvmAj6M8o27XN",
            "name": "Blaze_Ops Database"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all();\n\nif (rows.length > 0 && rows[0].json && rows[0].json.id) {\n  return [];\n}\n\nreturn [{\n  json: $('Validate Meeting Payload').item.json\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          144
        ],
        "id": "19738851-9b54-4bde-a6bd-6f36071a7675",
        "name": "If Duplicate"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "4P1nQHSRPUnnwbpy",
            "mode": "id",
            "cachedResultUrl": "/workflow/4P1nQHSRPUnnwbpy"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2496,
          144
        ],
        "id": "0b438aab-0459-4e29-9574-9f55003a995b",
        "name": "Call 'WMMA Post-Meeting Follow-Up'"
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Validate Meeting Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Meeting Payload": {
        "main": [
          [
            {
              "node": "Check Existing Drive File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Meeting": {
        "main": [
          [
            {
              "node": "Expand Actions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand Actions": {
        "main": [
          [
            {
              "node": "Validate Action Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Action Rows": {
        "main": [
          [
            {
              "node": "Insert Actions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Actions": {
        "main": [
          [
            {
              "node": "Build Success Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Existing Drive File": {
        "main": [
          [
            {
              "node": "If Duplicate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Duplicate": {
        "main": [
          [
            {
              "node": "Insert Meeting",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Success Summary": {
        "main": [
          [
            {
              "node": "Call 'WMMA Post-Meeting Follow-Up'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Brandon Stewart",
    "name": "Version 8bcd3da9",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-04-23T12:40:11.767Z",
      "createdAt": "2026-04-23T12:40:11.767Z",
      "id": "nwYcKrWKYFiGYTIf",
      "name": "Meeting Workflow"
    }
  ]
}