n8n/workflows/notes-intake.json
{
  "updatedAt": "2026-05-05T17:00:37.072Z",
  "createdAt": "2026-04-22T16:22:41.279Z",
  "id": "WFBtaAHdgBUqkE4q",
  "name": "WMMA Notes Intake",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "80f3ef46-dd8a-4b2f-9697-593fe4239a81",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        176,
        80
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "WMMA",
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1blaIjmPNqdFvzxHs2woZescQtpcoQ0cq",
            "mode": "list",
            "cachedResultName": "Meet Recordings",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1blaIjmPNqdFvzxHs2woZescQtpcoQ0cq"
          }
        },
        "options": {}
      },
      "id": "8ff73393-9117-4689-8bc7-ce7ba32ed447",
      "name": "Search WMMA Docs",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cer2DAVMEta9v7Fb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function makeUuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst item = $json;\n\n// Try every likely title location from merged Google Drive + Google Docs outputs\nconst title =\n  item.title ||\n  item.name ||\n  item.document?.title ||\n  item.document?.name ||\n  item.drive?.name ||\n  item.drive?.title ||\n  item.file?.name ||\n  item.file?.title ||\n  $('Search WMMA Docs').item?.json?.name ||\n  $('Search WMMA Docs').item?.json?.title ||\n  $('Get a document').item?.json?.title ||\n  $('Get a document').item?.json?.name ||\n  '';\n\nif (!title) {\n  throw new Error(`Document title missing. Available keys: ${Object.keys(item).join(', ')}`);\n}\n\nlet managerName = null;\n\n// Pattern 1:\n// Breanna Weekly Meeting WMMA - 2026/04/28 09:28 CDT - Notes by Gemini\nlet match = title.match(/^(.+?)\\s+Weekly\\s+(?:Manager\\s+)?Meeting\\s+WMMA/i);\nif (match) {\n  managerName = match[1].trim();\n}\n\n// Pattern 2:\n// Apr 22, 2026 [WMMA] Amy Weekly Manager Meeting\nif (!managerName) {\n  match = title.match(/\\[WMMA\\]\\s+(.+?)\\s+Weekly\\s+Manager\\s+Meeting/i);\n  if (match) {\n    managerName = match[1].trim();\n  }\n}\n\n// Pattern 3:\n// fallback: any title containing \"X Weekly Meeting\"\nif (!managerName) {\n  match = title.match(/(?:^|\\]\\s*)(.+?)\\s+Weekly\\s+(?:Manager\\s+)?Meeting/i);\n  if (match) {\n    managerName = match[1]\n      .replace(/^\\w{3,9}\\s+\\d{1,2},\\s+\\d{4}\\s*/i, '')\n      .trim();\n  }\n}\n\nif (!managerName) {\n  throw new Error(`Manager name not parsed from title: ${title}`);\n}\n\n// Normalize known names\nconst managerMap = {\n  'Breanna Blanks': 'Breanna',\n  'Brandon Stewart': 'Brandon',\n  'Tammie Stewart': 'Tammie',\n  'Tammy': 'Tammie',\n  'Amy': 'Amy',\n  'Breanna': 'Breanna',\n  'Debbie': 'Debbie',\n  'Dede': 'Dede',\n  'Shelbie': 'Shelbie',\n  'Chris': 'Chris',\n  'Ashlie': 'Ashlie'\n};\n\nmanagerName = managerMap[managerName] || managerName;\n\n// Parse meeting datetime\nlet meetingDatetime = null;\n\n// Format: 2026/04/28 09:28 CDT\nmatch = title.match(/(\\d{4})\\/(\\d{2})\\/(\\d{2})\\s+(\\d{2}):(\\d{2})/);\nif (match) {\n  const [, year, month, day, hour, minute] = match;\n  meetingDatetime = `${year}-${month}-${day} ${hour}:${minute}:00`;\n}\n\n// Format: Apr 22, 2026\nif (!meetingDatetime) {\n  match = title.match(/([A-Za-z]{3,9})\\s+(\\d{1,2}),\\s+(\\d{4})/);\n  if (match) {\n    const parsed = new Date(`${match[1]} ${match[2]}, ${match[3]} 09:00:00`);\n    if (!Number.isNaN(parsed.getTime())) {\n      meetingDatetime = parsed.toISOString().slice(0, 19).replace('T', ' ');\n    }\n  }\n}\n\nif (!meetingDatetime) {\n  throw new Error(`Meeting datetime not parsed from title: ${title}`);\n}\n\n// Monday week reference\nconst dt = new Date(meetingDatetime.replace(' ', 'T'));\nconst day = dt.getDay();\n\nconst monday = new Date(dt);\nmonday.setDate(dt.getDate() - ((day + 6) % 7));\n\nconst weekReference = monday.toISOString().slice(0, 10);\n\nconst driveFileId =\n  item.documentId ||\n  item.id ||\n  item.fileId ||\n  item.drive_file_id ||\n  item.document?.documentId ||\n  item.document?.id ||\n  $('Search WMMA Docs').item?.json?.id ||\n  $('Search WMMA Docs').item?.json?.documentId ||\n  $('Get a document').item?.json?.documentId ||\n  $('Get a document').item?.json?.id ||\n  null;\n\nconst driveLastModified =\n  item.modifiedTime ||\n  item.drive_last_modified ||\n  item.file?.modifiedTime ||\n  item.drive?.modifiedTime ||\n  $('Search WMMA Docs').item?.json?.modifiedTime ||\n  null;\n\nreturn [{\n  json: {\n    ...item,\n    id: makeUuid(),\n    drive_file_id: driveFileId,\n    drive_last_modified: driveLastModified,\n    manager_name: managerName,\n    meeting_datetime: meetingDatetime,\n    week_reference: weekReference,\n    source_title: title\n  }\n}];"
      },
      "id": "68e94027-a7f9-46b3-b9c6-e00550f9d72d",
      "name": "Parse Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        64
      ]
    },
    {
      "parameters": {
        "workflowId": "hqovXTw8meebPsjT",
        "options": {}
      },
      "id": "5f06b232-c96e-4842-b7c6-b17d2ed23b6f",
      "name": "Send to Meeting Processing",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1648,
        64
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}",
        "simple": false
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        656,
        -48
      ],
      "id": "4363dca8-722d-42e9-aac4-a9cfa3d7c621",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0ZynuFgMFrMDu3sP",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const doc = $json;\n\nlet fullText = '';\n\nfor (const el of doc.body?.content || []) {\n  if (el.paragraph?.elements) {\n    for (const pe of el.paragraph.elements) {\n      if (pe.textRun?.content) {\n        fullText += pe.textRun.content;\n      }\n    }\n  }\n}\n\n// Normalize Google Docs weird spacing\nfullText = fullText\n  .replace(/\\r/g, '')\n  .replace(/\\u000b/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nfunction escapeRegExp(value) {\n  return String(value).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n}\n\nfunction extractSection(text, startMarkers, endMarkers) {\n  const starts = Array.isArray(startMarkers) ? startMarkers : [startMarkers];\n\n  let startIndex = -1;\n\n  for (const marker of starts) {\n    const re = new RegExp(`(^|\\\\n)${escapeRegExp(marker)}\\\\s*\\\\n`, 'i');\n    const match = text.match(re);\n\n    if (match) {\n      startIndex = match.index + match[0].length;\n      break;\n    }\n  }\n\n  if (startIndex === -1) return '';\n\n  let endIndex = text.length;\n\n  for (const marker of endMarkers) {\n    const re = new RegExp(`(^|\\\\n)${escapeRegExp(marker)}\\\\s*\\\\n`, 'i');\n    const slice = text.slice(startIndex);\n    const match = slice.match(re);\n\n    if (match) {\n      const idx = startIndex + match.index;\n      if (idx < endIndex) endIndex = idx;\n    }\n  }\n\n  return text.substring(startIndex, endIndex).trim();\n}\n\nfunction cleanSectionText(text) {\n  return String(text || '')\n    .replace(/Rate this Summary:[\\s\\S]*?(?=\\n\\n|$)/gi, '')\n    .replace(/Let us know what you think:[\\s\\S]*?(?=\\n\\n|$)/gi, '')\n    .replace(/^We've updated the Decisions section.*$/gim, '')\n    .replace(/^ALIGNED$/gim, '')\n    .replace(/Did the screenshots[\\s\\S]*?(?=\\n|$)/gi, '')\n    .replace(/You should review Gemini's notes[\\s\\S]*$/gi, '')\n    .replace(/How is the quality[\\s\\S]*$/gi, '')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction normalizeOwner(owner) {\n  const v = String(owner || '').trim().toLowerCase();\n\n  if (v === 'brandon stewart' || v === 'brandon') return 'Brandon';\n  if (v === 'tammie stewart' || v === 'tammy stewart' || v === 'tammy' || v === 'tammie') return 'Tammie';\n  if (v === 'breanna blanks' || v === 'breanna' || v === 'brianna blanks' || v === 'brianna') return 'Breanna';\n  if (v === 'amy') return 'Amy';\n  if (v === 'debbie') return 'Debbie';\n  if (v === 'dede') return 'Dede';\n  if (v === 'shelbie') return 'Shelbie';\n  if (v === 'chris') return 'Chris';\n  if (v === 'ashlie' || v === 'ashlie wagner') return 'Ashlie';\n\n  return String(owner || '').trim();\n}\n\nconst knownProperties = [\n  'Adobe',\n  'North Park',\n  'NorthPark',\n  'Courtyard',\n  'Jefferson',\n  'Riveredge',\n  'Crosskeys',\n  'Sagebrush',\n  'Westminster',\n  'Broadstone',\n  'Nelson',\n  'Oak Terrace',\n  'Single Families and Small Multi'\n];\n\nfunction detectProperty(text) {\n  const source = String(text || '');\n\n  for (const property of knownProperties) {\n    const re = new RegExp(`\\\\b${escapeRegExp(property)}\\\\b`, 'i');\n    if (re.test(source)) {\n      if (property === 'North Park') return 'NorthPark';\n      return property;\n    }\n  }\n\n  return null;\n}\n\n// Supports old test format and real Gemini format\nconst portfolioPerformance = cleanSectionText(extractSection(fullText, 'Portfolio Performance', [\n  'Operational Issues',\n  'Decisions',\n  'Next steps',\n  'Details'\n]));\n\nconst operationalIssues = cleanSectionText(extractSection(fullText, 'Operational Issues', [\n  'Decisions',\n  'Next steps',\n  'Details'\n]));\n\nconst summary = cleanSectionText(extractSection(fullText, 'Summary', [\n  'Decisions',\n  'Next steps',\n  'Details',\n  'Rate this Summary'\n]));\n\nconst details = cleanSectionText(extractSection(fullText, 'Details', [\n  \"You should review Gemini's notes\",\n  'How is the quality'\n]));\n\nconst decisionsText = cleanSectionText(extractSection(fullText, 'Decisions', [\n  'Next steps',\n  'Details'\n]));\n\nconst nextSteps = extractSection(fullText, 'Next steps', [\n  'Details',\n  \"You should review Gemini's notes\",\n  'How is the quality'\n]);\n\nconst changes = portfolioPerformance\n  ? [portfolioPerformance]\n  : summary\n    ? [summary]\n    : [];\n\nconst issues = operationalIssues\n  ? [operationalIssues]\n  : details\n    ? [details]\n    : [];\n\nconst decisions = decisionsText ? [decisionsText] : [];\n\n// Extract actions\nconst actionLines = nextSteps\n  .split('\\n')\n  .map(l => l.trim())\n  .filter(l => l.startsWith('[') && l.includes(']') && l.includes(':'));\n\nconst actions = actionLines.map(line => {\n  const match = line.match(/^\\[(.*?)\\]\\s*(.*?):\\s*(.*)$/);\n\n  if (!match) return null;\n\n  const rawOwner = match[1].trim();\n  const title = match[2].trim();\n  const detail = match[3].trim();\n\n  const owner = normalizeOwner(rawOwner);\n  const description = `${title}: ${detail}`;\n  const dueMatch = detail.match(/(\\d{4}-\\d{2}-\\d{2})/);\n  const property_name = detectProperty(`${title} ${detail}`);\n\n  return {\n    description,\n    owner,\n    due_date: dueMatch ? dueMatch[1] : null,\n    property_name\n  };\n}).filter(Boolean);\n\nreturn [{\n  json: {\n    drive_file_id: doc.documentId,\n    drive_last_modified: $json.modifiedTime || null,\n    full_text: fullText,\n    summary_structured: {\n      changes,\n      issues,\n      decisions\n    },\n    actions\n  }\n}];"
      },
      "id": "b8a48294-d49c-47c5-9723-177243d03529",
      "name": "Extract Structured Meeting Notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        64
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        848,
        64
      ],
      "id": "1b71b088-04ed-48f7-b96b-85ad0e7263d5",
      "name": "Merge"
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Search WMMA Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search WMMA Docs": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Metadata": {
      "main": [
        [
          {
            "node": "Send to Meeting Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Structured Meeting Notes": {
      "main": [
        [
          {
            "node": "Parse Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract Structured Meeting Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "3WJZrZsLJqgg1EIM",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 20
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e2b783f7-a74b-4eaf-a33a-10aad82271e2",
  "activeVersionId": "50c61f9f-27f8-43aa-86ed-a78f127be79b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-22T16:22:41.279Z",
      "createdAt": "2026-04-22T16:22:41.279Z",
      "role": "workflow:owner",
      "workflowId": "WFBtaAHdgBUqkE4q",
      "projectId": "4YBqTudLOBUQfTvU"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-29T15:52:19.904Z",
    "createdAt": "2026-04-29T02:20:56.721Z",
    "versionId": "50c61f9f-27f8-43aa-86ed-a78f127be79b",
    "workflowId": "WFBtaAHdgBUqkE4q",
    "nodes": [
      {
        "parameters": {},
        "id": "80f3ef46-dd8a-4b2f-9697-593fe4239a81",
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          256,
          80
        ]
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "queryString": "WMMA",
          "filter": {
            "driveId": {
              "mode": "list",
              "value": "My Drive"
            },
            "folderId": {
              "__rl": true,
              "value": "1blaIjmPNqdFvzxHs2woZescQtpcoQ0cq",
              "mode": "list",
              "cachedResultName": "Meet Recordings",
              "cachedResultUrl": "https://drive.google.com/drive/folders/1blaIjmPNqdFvzxHs2woZescQtpcoQ0cq"
            }
          },
          "options": {}
        },
        "id": "8ff73393-9117-4689-8bc7-ce7ba32ed447",
        "name": "Search WMMA Docs",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          464,
          80
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "cer2DAVMEta9v7Fb",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "function makeUuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst item = $json;\n\n// Try every likely title location from merged Google Drive + Google Docs outputs\nconst title =\n  item.title ||\n  item.name ||\n  item.document?.title ||\n  item.document?.name ||\n  item.drive?.name ||\n  item.drive?.title ||\n  item.file?.name ||\n  item.file?.title ||\n  $('Search WMMA Docs').item?.json?.name ||\n  $('Search WMMA Docs').item?.json?.title ||\n  $('Get a document').item?.json?.title ||\n  $('Get a document').item?.json?.name ||\n  '';\n\nif (!title) {\n  throw new Error(`Document title missing. Available keys: ${Object.keys(item).join(', ')}`);\n}\n\nlet managerName = null;\n\n// Pattern 1:\n// Breanna Weekly Meeting WMMA - 2026/04/28 09:28 CDT - Notes by Gemini\nlet match = title.match(/^(.+?)\\s+Weekly\\s+(?:Manager\\s+)?Meeting\\s+WMMA/i);\nif (match) {\n  managerName = match[1].trim();\n}\n\n// Pattern 2:\n// Apr 22, 2026 [WMMA] Amy Weekly Manager Meeting\nif (!managerName) {\n  match = title.match(/\\[WMMA\\]\\s+(.+?)\\s+Weekly\\s+Manager\\s+Meeting/i);\n  if (match) {\n    managerName = match[1].trim();\n  }\n}\n\n// Pattern 3:\n// fallback: any title containing \"X Weekly Meeting\"\nif (!managerName) {\n  match = title.match(/(?:^|\\]\\s*)(.+?)\\s+Weekly\\s+(?:Manager\\s+)?Meeting/i);\n  if (match) {\n    managerName = match[1]\n      .replace(/^\\w{3,9}\\s+\\d{1,2},\\s+\\d{4}\\s*/i, '')\n      .trim();\n  }\n}\n\nif (!managerName) {\n  throw new Error(`Manager name not parsed from title: ${title}`);\n}\n\n// Normalize known names\nconst managerMap = {\n  'Breanna Blanks': 'Breanna',\n  'Brandon Stewart': 'Brandon',\n  'Tammie Stewart': 'Tammie',\n  'Tammy': 'Tammie',\n  'Amy': 'Amy',\n  'Breanna': 'Breanna',\n  'Debbie': 'Debbie',\n  'Dede': 'Dede',\n  'Shelbie': 'Shelbie',\n  'Chris': 'Chris',\n  'Ashlie': 'Ashlie'\n};\n\nmanagerName = managerMap[managerName] || managerName;\n\n// Parse meeting datetime\nlet meetingDatetime = null;\n\n// Format: 2026/04/28 09:28 CDT\nmatch = title.match(/(\\d{4})\\/(\\d{2})\\/(\\d{2})\\s+(\\d{2}):(\\d{2})/);\nif (match) {\n  const [, year, month, day, hour, minute] = match;\n  meetingDatetime = `${year}-${month}-${day} ${hour}:${minute}:00`;\n}\n\n// Format: Apr 22, 2026\nif (!meetingDatetime) {\n  match = title.match(/([A-Za-z]{3,9})\\s+(\\d{1,2}),\\s+(\\d{4})/);\n  if (match) {\n    const parsed = new Date(`${match[1]} ${match[2]}, ${match[3]} 09:00:00`);\n    if (!Number.isNaN(parsed.getTime())) {\n      meetingDatetime = parsed.toISOString().slice(0, 19).replace('T', ' ');\n    }\n  }\n}\n\nif (!meetingDatetime) {\n  throw new Error(`Meeting datetime not parsed from title: ${title}`);\n}\n\n// Monday week reference\nconst dt = new Date(meetingDatetime.replace(' ', 'T'));\nconst day = dt.getDay();\n\nconst monday = new Date(dt);\nmonday.setDate(dt.getDate() - ((day + 6) % 7));\n\nconst weekReference = monday.toISOString().slice(0, 10);\n\nconst driveFileId =\n  item.documentId ||\n  item.id ||\n  item.fileId ||\n  item.drive_file_id ||\n  item.document?.documentId ||\n  item.document?.id ||\n  $('Search WMMA Docs').item?.json?.id ||\n  $('Search WMMA Docs').item?.json?.documentId ||\n  $('Get a document').item?.json?.documentId ||\n  $('Get a document').item?.json?.id ||\n  null;\n\nconst driveLastModified =\n  item.modifiedTime ||\n  item.drive_last_modified ||\n  item.file?.modifiedTime ||\n  item.drive?.modifiedTime ||\n  $('Search WMMA Docs').item?.json?.modifiedTime ||\n  null;\n\nreturn [{\n  json: {\n    ...item,\n    id: makeUuid(),\n    drive_file_id: driveFileId,\n    drive_last_modified: driveLastModified,\n    manager_name: managerName,\n    meeting_datetime: meetingDatetime,\n    week_reference: weekReference,\n    source_title: title\n  }\n}];"
        },
        "id": "68e94027-a7f9-46b3-b9c6-e00550f9d72d",
        "name": "Parse Metadata",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1232,
          64
        ]
      },
      {
        "parameters": {
          "workflowId": "hqovXTw8meebPsjT",
          "options": {}
        },
        "id": "5f06b232-c96e-4842-b7c6-b17d2ed23b6f",
        "name": "Send to Meeting Processing",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1648,
          64
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "documentURL": "={{ $json.id }}",
          "simple": false
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          656,
          -48
        ],
        "id": "4363dca8-722d-42e9-aac4-a9cfa3d7c621",
        "name": "Get a document",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "0ZynuFgMFrMDu3sP",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const doc = $json;\n\nlet fullText = '';\n\nfor (const el of doc.body?.content || []) {\n  if (el.paragraph?.elements) {\n    for (const pe of el.paragraph.elements) {\n      if (pe.textRun?.content) {\n        fullText += pe.textRun.content;\n      }\n    }\n  }\n}\n\n// Normalize Google Docs weird spacing\nfullText = fullText\n  .replace(/\\r/g, '')\n  .replace(/\\u000b/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nfunction escapeRegExp(value) {\n  return String(value).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n}\n\nfunction extractSection(text, startMarkers, endMarkers) {\n  const starts = Array.isArray(startMarkers) ? startMarkers : [startMarkers];\n\n  let startIndex = -1;\n\n  for (const marker of starts) {\n    const re = new RegExp(`(^|\\\\n)${escapeRegExp(marker)}\\\\s*\\\\n`, 'i');\n    const match = text.match(re);\n\n    if (match) {\n      startIndex = match.index + match[0].length;\n      break;\n    }\n  }\n\n  if (startIndex === -1) return '';\n\n  let endIndex = text.length;\n\n  for (const marker of endMarkers) {\n    const re = new RegExp(`(^|\\\\n)${escapeRegExp(marker)}\\\\s*\\\\n`, 'i');\n    const slice = text.slice(startIndex);\n    const match = slice.match(re);\n\n    if (match) {\n      const idx = startIndex + match.index;\n      if (idx < endIndex) endIndex = idx;\n    }\n  }\n\n  return text.substring(startIndex, endIndex).trim();\n}\n\nfunction cleanSectionText(text) {\n  return String(text || '')\n    .replace(/Rate this Summary:[\\s\\S]*?(?=\\n\\n|$)/gi, '')\n    .replace(/Let us know what you think:[\\s\\S]*?(?=\\n\\n|$)/gi, '')\n    .replace(/^We've updated the Decisions section.*$/gim, '')\n    .replace(/^ALIGNED$/gim, '')\n    .replace(/Did the screenshots[\\s\\S]*?(?=\\n|$)/gi, '')\n    .replace(/You should review Gemini's notes[\\s\\S]*$/gi, '')\n    .replace(/How is the quality[\\s\\S]*$/gi, '')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction normalizeOwner(owner) {\n  const v = String(owner || '').trim().toLowerCase();\n\n  if (v === 'brandon stewart' || v === 'brandon') return 'Brandon';\n  if (v === 'tammie stewart' || v === 'tammy stewart' || v === 'tammy' || v === 'tammie') return 'Tammie';\n  if (v === 'breanna blanks' || v === 'breanna' || v === 'brianna blanks' || v === 'brianna') return 'Breanna';\n  if (v === 'amy') return 'Amy';\n  if (v === 'debbie') return 'Debbie';\n  if (v === 'dede') return 'Dede';\n  if (v === 'shelbie') return 'Shelbie';\n  if (v === 'chris') return 'Chris';\n  if (v === 'ashlie' || v === 'ashlie wagner') return 'Ashlie';\n\n  return String(owner || '').trim();\n}\n\nconst knownProperties = [\n  'Adobe',\n  'North Park',\n  'NorthPark',\n  'Courtyard',\n  'Jefferson',\n  'Riveredge',\n  'Crosskeys',\n  'Sagebrush',\n  'Westminster',\n  'Broadstone',\n  'Nelson',\n  'Oak Terrace',\n  'Single Families and Small Multi'\n];\n\nfunction detectProperty(text) {\n  const source = String(text || '');\n\n  for (const property of knownProperties) {\n    const re = new RegExp(`\\\\b${escapeRegExp(property)}\\\\b`, 'i');\n    if (re.test(source)) {\n      if (property === 'North Park') return 'NorthPark';\n      return property;\n    }\n  }\n\n  return null;\n}\n\n// Supports old test format and real Gemini format\nconst portfolioPerformance = cleanSectionText(extractSection(fullText, 'Portfolio Performance', [\n  'Operational Issues',\n  'Decisions',\n  'Next steps',\n  'Details'\n]));\n\nconst operationalIssues = cleanSectionText(extractSection(fullText, 'Operational Issues', [\n  'Decisions',\n  'Next steps',\n  'Details'\n]));\n\nconst summary = cleanSectionText(extractSection(fullText, 'Summary', [\n  'Decisions',\n  'Next steps',\n  'Details',\n  'Rate this Summary'\n]));\n\nconst details = cleanSectionText(extractSection(fullText, 'Details', [\n  \"You should review Gemini's notes\",\n  'How is the quality'\n]));\n\nconst decisionsText = cleanSectionText(extractSection(fullText, 'Decisions', [\n  'Next steps',\n  'Details'\n]));\n\nconst nextSteps = extractSection(fullText, 'Next steps', [\n  'Details',\n  \"You should review Gemini's notes\",\n  'How is the quality'\n]);\n\nconst changes = portfolioPerformance\n  ? [portfolioPerformance]\n  : summary\n    ? [summary]\n    : [];\n\nconst issues = operationalIssues\n  ? [operationalIssues]\n  : details\n    ? [details]\n    : [];\n\nconst decisions = decisionsText ? [decisionsText] : [];\n\n// Extract actions\nconst actionLines = nextSteps\n  .split('\\n')\n  .map(l => l.trim())\n  .filter(l => l.startsWith('[') && l.includes(']') && l.includes(':'));\n\nconst actions = actionLines.map(line => {\n  const match = line.match(/^\\[(.*?)\\]\\s*(.*?):\\s*(.*)$/);\n\n  if (!match) return null;\n\n  const rawOwner = match[1].trim();\n  const title = match[2].trim();\n  const detail = match[3].trim();\n\n  const owner = normalizeOwner(rawOwner);\n  const description = `${title}: ${detail}`;\n  const dueMatch = detail.match(/(\\d{4}-\\d{2}-\\d{2})/);\n  const property_name = detectProperty(`${title} ${detail}`);\n\n  return {\n    description,\n    owner,\n    due_date: dueMatch ? dueMatch[1] : null,\n    property_name\n  };\n}).filter(Boolean);\n\nreturn [{\n  json: {\n    drive_file_id: doc.documentId,\n    drive_last_modified: $json.modifiedTime || null,\n    full_text: fullText,\n    summary_structured: {\n      changes,\n      issues,\n      decisions\n    },\n    actions\n  }\n}];"
        },
        "id": "b8a48294-d49c-47c5-9723-177243d03529",
        "name": "Extract Structured Meeting Notes",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1056,
          64
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          848,
          64
        ],
        "id": "1b71b088-04ed-48f7-b96b-85ad0e7263d5",
        "name": "Merge"
      }
    ],
    "connections": {
      "Cron": {
        "main": [
          [
            {
              "node": "Search WMMA Docs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search WMMA Docs": {
        "main": [
          [
            {
              "node": "Get a document",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Parse Metadata": {
        "main": [
          [
            {
              "node": "Send to Meeting Processing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a document": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Structured Meeting Notes": {
        "main": [
          [
            {
              "node": "Parse Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Extract Structured Meeting Notes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Brandon Stewart",
    "name": "Version 50c61f9f",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-04-23T12:40:11.767Z",
      "createdAt": "2026-04-23T12:40:11.767Z",
      "id": "nwYcKrWKYFiGYTIf",
      "name": "Meeting Workflow"
    }
  ]
}