n8n/workflows/notes-intake.json
{
  "updatedAt": "2026-04-23T12:41:01.240Z",
  "createdAt": "2026-04-22T16:22:41.279Z",
  "id": "WFBtaAHdgBUqkE4q",
  "name": "WMMA Notes Intake",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "80f3ef46-dd8a-4b2f-9697-593fe4239a81",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        224,
        80
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "WMMA",
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1blaIjmPNqdFvzxHs2woZescQtpcoQ0cq",
            "mode": "list",
            "cachedResultName": "Meet Recordings",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1blaIjmPNqdFvzxHs2woZescQtpcoQ0cq"
          }
        },
        "options": {}
      },
      "id": "8ff73393-9117-4689-8bc7-ce7ba32ed447",
      "name": "Search WMMA Docs",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        432,
        80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cer2DAVMEta9v7Fb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function makeUuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst item = $json;\nconst fullText = item.full_text || '';\n\n// Parse manager from title line\nconst managerMatch = fullText.match(/\\[WMMA\\]\\s*(.*?)\\s+Weekly Manager Meeting/i);\nconst manager_name = managerMatch ? managerMatch[1].trim() : null;\n\n// Parse meeting date from first line if possible\nconst firstLine = fullText.split('\\n')[0]?.trim();\nlet meetingDate = new Date(firstLine);\n\nif (isNaN(meetingDate.getTime())) {\n  meetingDate = new Date();\n}\n\n// Set meeting datetime\nconst meeting_datetime = meetingDate.toISOString().slice(0, 19).replace('T', ' ');\n\n// Derive Monday week reference\nconst d = new Date(meetingDate);\nconst day = d.getDay();\nconst diff = d.getDate() - day + (day === 0 ? -6 : 1);\nconst monday = new Date(d.setDate(diff)).toISOString().slice(0, 10);\n\nconst created_at = new Date().toISOString().slice(0, 19).replace('T', ' ');\n\nreturn [{\n  json: {\n    id: makeUuid(),\n    drive_file_id: item.drive_file_id,\n    manager_name,\n    meeting_datetime,\n    week_reference: monday,\n    transcript_raw: null,\n    full_text: item.full_text,\n    summary_structured: item.summary_structured,\n    actions: item.actions,\n    created_at\n  }\n}];"
      },
      "id": "68e94027-a7f9-46b3-b9c6-e00550f9d72d",
      "name": "Parse Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        80
      ]
    },
    {
      "parameters": {
        "workflowId": "hqovXTw8meebPsjT",
        "options": {}
      },
      "id": "5f06b232-c96e-4842-b7c6-b17d2ed23b6f",
      "name": "Send to Meeting Processing",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1408,
        80
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}",
        "simple": false
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        640,
        80
      ],
      "id": "4363dca8-722d-42e9-aac4-a9cfa3d7c621",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0ZynuFgMFrMDu3sP",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const doc = $json;\n\nlet fullText = '';\n\nfor (const el of doc.body?.content || []) {\n  if (el.paragraph?.elements) {\n    for (const pe of el.paragraph.elements) {\n      if (pe.textRun?.content) {\n        fullText += pe.textRun.content;\n      }\n    }\n  }\n}\n\n// Normalize\nfullText = fullText.replace(/\\r/g, '').trim();\n\n// Split sections\nfunction extractSection(text, start, endMarkers) {\n  const startIndex = text.indexOf(start);\n  if (startIndex === -1) return '';\n\n  let endIndex = text.length;\n\n  for (const marker of endMarkers) {\n    const idx = text.indexOf(marker, startIndex + start.length);\n    if (idx !== -1 && idx < endIndex) {\n      endIndex = idx;\n    }\n  }\n\n  return text.substring(startIndex + start.length, endIndex).trim();\n}\n\n// Normalize owner names to contract-safe values\nfunction normalizeOwner(owner) {\n  const v = String(owner || '').trim().toLowerCase();\n\n  if (v === 'brandon stewart' || v === 'brandon') return 'Brandon';\n  if (v === 'breanna blanks' || v === 'breanna' || v === 'brianna blanks' || v === 'brianna') return 'Breanna';\n\n  return String(owner || '').trim();\n}\n\n// Detect property from action text\nconst knownProperties = [\n  'Adobe',\n  'NorthPark',\n  'Courtyard',\n  'Jefferson',\n  'Riveredge',\n  'Crosskeys',\n  'Sagebrush',\n  'Westminster',\n  'Broadstone',\n  'Nelson',\n  'Oak Terrace',\n  'Single Families and Small Multi'\n];\n\nfunction detectProperty(text) {\n  for (const property of knownProperties) {\n    const re = new RegExp(`\\\\b${property.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&')}\\\\b`, 'i');\n    if (re.test(text)) return property;\n  }\n  return null;\n}\n\nconst portfolioPerformance = extractSection(fullText, 'Portfolio Performance', [\n  'Operational Issues',\n  'Decisions',\n  'Next steps'\n]);\n\nconst issues = extractSection(fullText, 'Operational Issues', [\n  'Decisions',\n  'Next steps'\n]);\n\nconst decisions = extractSection(fullText, 'Decisions', [\n  'Next steps'\n]);\n\nconst nextSteps = extractSection(fullText, 'Next steps', []);\n\n// Extract actions\nconst actionLines = nextSteps\n  .split('\\n')\n  .map(l => l.trim())\n  .filter(l => l.startsWith('[') && l.includes(']') && l.includes(':'));\n\nconst actions = actionLines.map(line => {\n  const match = line.match(/^\\[(.*?)\\]\\s*(.*?):\\s*(.*)$/);\n\n  if (!match) return null;\n\n  const rawOwner = match[1].trim();\n  const title = match[2].trim();\n  const detail = match[3].trim();\n\n  const owner = normalizeOwner(rawOwner);\n  const description = `${title}: ${detail}`;\n\n  const dueMatch = detail.match(/(\\d{4}-\\d{2}-\\d{2})/);\n  const property_name = detectProperty(`${title} ${detail}`);\n\n  return {\n    description,\n    owner,\n    due_date: dueMatch ? dueMatch[1] : null,\n    property_name\n  };\n}).filter(Boolean);\n\nreturn [{\n  json: {\n    drive_file_id: doc.documentId,\n    full_text: fullText,\n    summary_structured: {\n      changes: portfolioPerformance ? [portfolioPerformance] : [],\n      issues: issues ? [issues] : [],\n      decisions: decisions ? [decisions] : []\n    },\n    actions\n  }\n}];"
      },
      "id": "b8a48294-d49c-47c5-9723-177243d03529",
      "name": "Extract Structured Meeting Notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "if (!$json.full_text || !String($json.full_text).trim()) {\n  throw new Error('Missing full_text');\n}\n\nif (!$json.manager_name || !String($json.manager_name).trim()) {\n  throw new Error('Manager name not parsed');\n}\n\nif (!$json.meeting_datetime) {\n  throw new Error('Missing meeting_datetime');\n}\n\nif (!$json.week_reference) {\n  throw new Error('Missing week_reference');\n}\n\nif (\n  !$json.summary_structured ||\n  !Array.isArray($json.summary_structured.changes) ||\n  !Array.isArray($json.summary_structured.issues) ||\n  !Array.isArray($json.summary_structured.decisions)\n) {\n  throw new Error('Invalid summary_structured shape');\n}\n\nif (!Array.isArray($json.actions)) {\n  throw new Error('Invalid actions array');\n}\n\nif ($json.actions.length < 1 || $json.actions.length > 5) {\n  throw new Error(`Expected 1-5 actions, got ${$json.actions.length}`);\n}\n\nreturn [{ json: $json }];"
      },
      "id": "ffae9470-92ce-47f1-978e-3ba0af04697d",
      "name": "Validate Meeting Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        80
      ]
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Search WMMA Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search WMMA Docs": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Metadata": {
      "main": [
        [
          {
            "node": "Validate Meeting Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Extract Structured Meeting Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Structured Meeting Notes": {
      "main": [
        [
          {
            "node": "Parse Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Meeting Payload": {
      "main": [
        [
          {
            "node": "Send to Meeting Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "40472dae-50a0-433a-8efb-6558d810d3eb",
  "activeVersionId": "40472dae-50a0-433a-8efb-6558d810d3eb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-22T16:22:41.279Z",
      "createdAt": "2026-04-22T16:22:41.279Z",
      "role": "workflow:owner",
      "workflowId": "WFBtaAHdgBUqkE4q",
      "projectId": "4YBqTudLOBUQfTvU"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-22T19:57:58.214Z",
    "createdAt": "2026-04-22T19:57:49.546Z",
    "versionId": "40472dae-50a0-433a-8efb-6558d810d3eb",
    "workflowId": "WFBtaAHdgBUqkE4q",
    "nodes": [
      {
        "parameters": {},
        "id": "80f3ef46-dd8a-4b2f-9697-593fe4239a81",
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          224,
          80
        ]
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "queryString": "WMMA",
          "filter": {
            "driveId": {
              "mode": "list",
              "value": "My Drive"
            },
            "folderId": {
              "__rl": true,
              "value": "1blaIjmPNqdFvzxHs2woZescQtpcoQ0cq",
              "mode": "list",
              "cachedResultName": "Meet Recordings",
              "cachedResultUrl": "https://drive.google.com/drive/folders/1blaIjmPNqdFvzxHs2woZescQtpcoQ0cq"
            }
          },
          "options": {}
        },
        "id": "8ff73393-9117-4689-8bc7-ce7ba32ed447",
        "name": "Search WMMA Docs",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          432,
          80
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "cer2DAVMEta9v7Fb",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "function makeUuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst item = $json;\nconst fullText = item.full_text || '';\n\n// Parse manager from title line\nconst managerMatch = fullText.match(/\\[WMMA\\]\\s*(.*?)\\s+Weekly Manager Meeting/i);\nconst manager_name = managerMatch ? managerMatch[1].trim() : null;\n\n// Parse meeting date from first line if possible\nconst firstLine = fullText.split('\\n')[0]?.trim();\nlet meetingDate = new Date(firstLine);\n\nif (isNaN(meetingDate.getTime())) {\n  meetingDate = new Date();\n}\n\n// Set meeting datetime\nconst meeting_datetime = meetingDate.toISOString().slice(0, 19).replace('T', ' ');\n\n// Derive Monday week reference\nconst d = new Date(meetingDate);\nconst day = d.getDay();\nconst diff = d.getDate() - day + (day === 0 ? -6 : 1);\nconst monday = new Date(d.setDate(diff)).toISOString().slice(0, 10);\n\nconst created_at = new Date().toISOString().slice(0, 19).replace('T', ' ');\n\nreturn [{\n  json: {\n    id: makeUuid(),\n    drive_file_id: item.drive_file_id,\n    manager_name,\n    meeting_datetime,\n    week_reference: monday,\n    transcript_raw: null,\n    full_text: item.full_text,\n    summary_structured: item.summary_structured,\n    actions: item.actions,\n    created_at\n  }\n}];"
        },
        "id": "68e94027-a7f9-46b3-b9c6-e00550f9d72d",
        "name": "Parse Metadata",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          80
        ]
      },
      {
        "parameters": {
          "workflowId": "hqovXTw8meebPsjT",
          "options": {}
        },
        "id": "5f06b232-c96e-4842-b7c6-b17d2ed23b6f",
        "name": "Send to Meeting Processing",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1408,
          80
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "documentURL": "={{ $json.id }}",
          "simple": false
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          640,
          80
        ],
        "id": "4363dca8-722d-42e9-aac4-a9cfa3d7c621",
        "name": "Get a document",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "0ZynuFgMFrMDu3sP",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const doc = $json;\n\nlet fullText = '';\n\nfor (const el of doc.body?.content || []) {\n  if (el.paragraph?.elements) {\n    for (const pe of el.paragraph.elements) {\n      if (pe.textRun?.content) {\n        fullText += pe.textRun.content;\n      }\n    }\n  }\n}\n\n// Normalize\nfullText = fullText.replace(/\\r/g, '').trim();\n\n// Split sections\nfunction extractSection(text, start, endMarkers) {\n  const startIndex = text.indexOf(start);\n  if (startIndex === -1) return '';\n\n  let endIndex = text.length;\n\n  for (const marker of endMarkers) {\n    const idx = text.indexOf(marker, startIndex + start.length);\n    if (idx !== -1 && idx < endIndex) {\n      endIndex = idx;\n    }\n  }\n\n  return text.substring(startIndex + start.length, endIndex).trim();\n}\n\n// Normalize owner names to contract-safe values\nfunction normalizeOwner(owner) {\n  const v = String(owner || '').trim().toLowerCase();\n\n  if (v === 'brandon stewart' || v === 'brandon') return 'Brandon';\n  if (v === 'breanna blanks' || v === 'breanna' || v === 'brianna blanks' || v === 'brianna') return 'Breanna';\n\n  return String(owner || '').trim();\n}\n\n// Detect property from action text\nconst knownProperties = [\n  'Adobe',\n  'NorthPark',\n  'Courtyard',\n  'Jefferson',\n  'Riveredge',\n  'Crosskeys',\n  'Sagebrush',\n  'Westminster',\n  'Broadstone',\n  'Nelson',\n  'Oak Terrace',\n  'Single Families and Small Multi'\n];\n\nfunction detectProperty(text) {\n  for (const property of knownProperties) {\n    const re = new RegExp(`\\\\b${property.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&')}\\\\b`, 'i');\n    if (re.test(text)) return property;\n  }\n  return null;\n}\n\nconst portfolioPerformance = extractSection(fullText, 'Portfolio Performance', [\n  'Operational Issues',\n  'Decisions',\n  'Next steps'\n]);\n\nconst issues = extractSection(fullText, 'Operational Issues', [\n  'Decisions',\n  'Next steps'\n]);\n\nconst decisions = extractSection(fullText, 'Decisions', [\n  'Next steps'\n]);\n\nconst nextSteps = extractSection(fullText, 'Next steps', []);\n\n// Extract actions\nconst actionLines = nextSteps\n  .split('\\n')\n  .map(l => l.trim())\n  .filter(l => l.startsWith('[') && l.includes(']') && l.includes(':'));\n\nconst actions = actionLines.map(line => {\n  const match = line.match(/^\\[(.*?)\\]\\s*(.*?):\\s*(.*)$/);\n\n  if (!match) return null;\n\n  const rawOwner = match[1].trim();\n  const title = match[2].trim();\n  const detail = match[3].trim();\n\n  const owner = normalizeOwner(rawOwner);\n  const description = `${title}: ${detail}`;\n\n  const dueMatch = detail.match(/(\\d{4}-\\d{2}-\\d{2})/);\n  const property_name = detectProperty(`${title} ${detail}`);\n\n  return {\n    description,\n    owner,\n    due_date: dueMatch ? dueMatch[1] : null,\n    property_name\n  };\n}).filter(Boolean);\n\nreturn [{\n  json: {\n    drive_file_id: doc.documentId,\n    full_text: fullText,\n    summary_structured: {\n      changes: portfolioPerformance ? [portfolioPerformance] : [],\n      issues: issues ? [issues] : [],\n      decisions: decisions ? [decisions] : []\n    },\n    actions\n  }\n}];"
        },
        "id": "b8a48294-d49c-47c5-9723-177243d03529",
        "name": "Extract Structured Meeting Notes",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          816,
          80
        ]
      },
      {
        "parameters": {
          "jsCode": "if (!$json.full_text || !String($json.full_text).trim()) {\n  throw new Error('Missing full_text');\n}\n\nif (!$json.manager_name || !String($json.manager_name).trim()) {\n  throw new Error('Manager name not parsed');\n}\n\nif (!$json.meeting_datetime) {\n  throw new Error('Missing meeting_datetime');\n}\n\nif (!$json.week_reference) {\n  throw new Error('Missing week_reference');\n}\n\nif (\n  !$json.summary_structured ||\n  !Array.isArray($json.summary_structured.changes) ||\n  !Array.isArray($json.summary_structured.issues) ||\n  !Array.isArray($json.summary_structured.decisions)\n) {\n  throw new Error('Invalid summary_structured shape');\n}\n\nif (!Array.isArray($json.actions)) {\n  throw new Error('Invalid actions array');\n}\n\nif ($json.actions.length < 1 || $json.actions.length > 5) {\n  throw new Error(`Expected 1-5 actions, got ${$json.actions.length}`);\n}\n\nreturn [{ json: $json }];"
        },
        "id": "ffae9470-92ce-47f1-978e-3ba0af04697d",
        "name": "Validate Meeting Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          80
        ]
      }
    ],
    "connections": {
      "Cron": {
        "main": [
          [
            {
              "node": "Search WMMA Docs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search WMMA Docs": {
        "main": [
          [
            {
              "node": "Get a document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Metadata": {
        "main": [
          [
            {
              "node": "Validate Meeting Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a document": {
        "main": [
          [
            {
              "node": "Extract Structured Meeting Notes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Structured Meeting Notes": {
        "main": [
          [
            {
              "node": "Parse Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Meeting Payload": {
        "main": [
          [
            {
              "node": "Send to Meeting Processing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Brandon Stewart",
    "name": "Version 40472dae",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-04-23T12:40:11.767Z",
      "createdAt": "2026-04-23T12:40:11.767Z",
      "id": "nwYcKrWKYFiGYTIf",
      "name": "Meeting Workflow"
    }
  ]
}