n8n/workflows/post-meeting-follow-up.json
{
  "updatedAt": "2026-04-29T15:51:20.007Z",
  "createdAt": "2026-04-23T12:41:36.076Z",
  "id": "4P1nQHSRPUnnwbpy",
  "name": "WMMA Post-Meeting Follow-Up",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "c4b92f55-5a42-405f-8979-1d7d6851c828",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const meeting = $json;\n\nconst directory = {\n  \"Brandon Stewart\": \"brandon@blazeproperty.com\",\n  \"Amy\": \"amy@blazeproperty.com\",\n  \"Breanna\": \"breanna@blazeproperty.com\",\n  \"Debbie\": \"debbie@blazeproperty.com\",\n  \"Dede\": \"dede@blazeproperty.com\",\n  \"Shelbie\": \"shelbie@blazeproperty.com\",\n  \"Chris\": \"chris@blazeproperty.com\",\n  \"Ashlie\": \"ashlie@blazeproperty.com\"\n};\n\nconst required = [\"brandon@blazeproperty.com\"];\n\nconst participants = meeting.participants || [];\n\nconst resolved = [];\n\nfor (const p of participants) {\n  if (!p) continue;\n  const v = String(p).trim();\n\n  if (v.includes('@')) {\n    resolved.push(v.toLowerCase());\n    continue;\n  }\n\n  if (directory[v]) {\n    resolved.push(directory[v]);\n  }\n}\n\nconst fallback = directory[meeting.manager_name];\nif (fallback) resolved.push(fallback);\n\nconst recipients = [...new Set([...required, ...resolved])];\n\nreturn [{ json: { ...meeting, recipients } }];"
      },
      "id": "4ff4d9c9-46c6-4d91-bb29-09c99f344263",
      "name": "Resolve Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const m = $json;\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction shorten(text, max = 260) {\n  const t = String(text || '').replace(/\\s+/g, ' ').trim();\n  if (t.length <= max) return t;\n  return t.substring(0, max).trim() + '...';\n}\n\nfunction splitUsefulLines(text) {\n  return String(text || '')\n    .split(/\\n+/)\n    .map(s => s.trim())\n    .filter(Boolean)\n    .filter(s => !/^rate this summary/i.test(s))\n    .filter(s => !/^helpful or not helpful/i.test(s));\n}\n\nfunction formatShortList(arr, maxItems = 3, maxChars = 280) {\n  if (!Array.isArray(arr) || arr.length === 0) {\n    return '<p style=\"color:#666;margin:0;\">None</p>';\n  }\n\n  const lines = arr\n    .flatMap(splitUsefulLines)\n    .filter(Boolean)\n    .slice(0, maxItems);\n\n  if (!lines.length) {\n    return '<p style=\"color:#666;margin:0;\">None</p>';\n  }\n\n  return lines.map(i => `\n    <div style=\"margin-bottom:8px;padding:10px 12px;background:#f9fafb;border-left:4px solid #374151;border-radius:6px;\">\n      ${escapeHtml(shorten(i, maxChars))}\n    </div>\n  `).join('');\n}\n\nfunction formatDecisions(arr) {\n  if (!Array.isArray(arr) || arr.length === 0) {\n    return '<p style=\"color:#666;margin:0;\">None</p>';\n  }\n\n  const lines = arr.flatMap(splitUsefulLines).filter(Boolean);\n\n  return lines.map(i => `\n    <div style=\"margin-bottom:8px;padding:10px 12px;background:#eef6ff;border-left:4px solid #1d4ed8;border-radius:6px;\">\n      ${escapeHtml(shorten(i, 320))}\n    </div>\n  `).join('');\n}\n\nfunction formatActions(actions) {\n  if (!Array.isArray(actions) || actions.length === 0) {\n    return '<p style=\"margin:0;color:#666;\">No action items found.</p>';\n  }\n\n  return actions.map((a, index) => `\n    <tr>\n      <td style=\"padding:10px;border-bottom:1px solid #e5e7eb;vertical-align:top;width:34px;color:#6b7280;\">\n        ${index + 1}\n      </td>\n      <td style=\"padding:10px;border-bottom:1px solid #e5e7eb;vertical-align:top;\">\n        <strong>${escapeHtml(a.action_description)}</strong>\n        ${a.property_name ? `<div style=\"margin-top:4px;color:#6b7280;font-size:13px;\">Property: ${escapeHtml(a.property_name)}</div>` : ''}\n      </td>\n      <td style=\"padding:10px;border-bottom:1px solid #e5e7eb;vertical-align:top;white-space:nowrap;\">\n        ${escapeHtml(a.action_owner)}\n      </td>\n      <td style=\"padding:10px;border-bottom:1px solid #e5e7eb;vertical-align:top;white-space:nowrap;\">\n        ${escapeHtml(a.due_date)}\n      </td>\n    </tr>\n  `).join('');\n}\n\nconst dt = new Date(String(m.meeting_datetime).replace(' ', 'T'));\nconst meetingDate = dt.toLocaleDateString('en-US', {\n  weekday: 'short',\n  month: 'short',\n  day: 'numeric',\n  year: 'numeric'\n});\n\nconst actionCount = Array.isArray(m.actions) ? m.actions.length : Number(m.action_count || 0);\n\nconst summaryHtml = formatShortList(m.summary_structured?.changes, 3, 280);\nconst issuesHtml = formatShortList(m.summary_structured?.issues, 3, 300);\nconst decisionsHtml = formatDecisions(m.summary_structured?.decisions);\n\nconst subject = `Meeting Follow-Up – ${m.manager_name} – ${meetingDate}`;\n\nconst body = `\n<div style=\"font-family:Arial,sans-serif;background:#f3f4f6;padding:20px;color:#111827;\">\n  <div style=\"max-width:760px;margin:0 auto;background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;overflow:hidden;\">\n\n    <div style=\"background:#111827;color:#ffffff;padding:20px 24px;\">\n      <div style=\"font-size:12px;text-transform:uppercase;letter-spacing:.08em;color:#d1d5db;\">\n        WMMA Meeting Follow-Up\n      </div>\n      <div style=\"font-size:24px;font-weight:700;margin-top:6px;\">\n        ${escapeHtml(m.manager_name)}\n      </div>\n      <div style=\"font-size:14px;color:#d1d5db;margin-top:6px;\">\n        ${escapeHtml(meetingDate)} · Week of ${escapeHtml(m.week_reference)} · ${escapeHtml(actionCount)} action item${actionCount === 1 ? '' : 's'}\n      </div>\n    </div>\n\n    <div style=\"padding:22px 24px;\">\n\n      <div style=\"margin-bottom:22px;\">\n        <h2 style=\"font-size:17px;margin:0 0 10px;border-bottom:2px solid #e5e7eb;padding-bottom:8px;\">\n          Quick Summary\n        </h2>\n        ${summaryHtml}\n      </div>\n\n      <div style=\"margin-bottom:22px;\">\n        <h2 style=\"font-size:17px;margin:0 0 10px;border-bottom:2px solid #e5e7eb;padding-bottom:8px;\">\n          Key Issues\n        </h2>\n        ${issuesHtml}\n      </div>\n\n      <div style=\"margin-bottom:22px;\">\n        <h2 style=\"font-size:17px;margin:0 0 10px;border-bottom:2px solid #e5e7eb;padding-bottom:8px;\">\n          Decisions\n        </h2>\n        ${decisionsHtml}\n      </div>\n\n      <div style=\"margin-bottom:22px;\">\n        <h2 style=\"font-size:17px;margin:0 0 10px;border-bottom:2px solid #e5e7eb;padding-bottom:8px;\">\n          Action Items\n        </h2>\n\n        <table style=\"width:100%;border-collapse:collapse;border:1px solid #e5e7eb;border-radius:8px;overflow:hidden;font-size:14px;\">\n          <thead>\n            <tr style=\"background:#f9fafb;\">\n              <th style=\"text-align:left;padding:10px;border-bottom:1px solid #e5e7eb;width:34px;\">#</th>\n              <th style=\"text-align:left;padding:10px;border-bottom:1px solid #e5e7eb;\">Action</th>\n              <th style=\"text-align:left;padding:10px;border-bottom:1px solid #e5e7eb;\">Owner</th>\n              <th style=\"text-align:left;padding:10px;border-bottom:1px solid #e5e7eb;\">Due</th>\n            </tr>\n          </thead>\n          <tbody>\n            ${formatActions(m.actions)}\n          </tbody>\n        </table>\n      </div>\n\n      <div style=\"margin-top:22px;padding:13px 14px;background:#fff7ed;border:1px solid #fed7aa;border-radius:8px;font-size:14px;\">\n        Please review your assigned items and begin execution immediately.\n      </div>\n\n      <p style=\"margin-top:20px;\">- Brandon</p>\n\n      <p style=\"margin-top:16px;font-size:12px;color:#6b7280;\">\n        Full meeting detail is retained in the meeting record.\n      </p>\n    </div>\n  </div>\n</div>\n`;\n\nreturn [{ json: { ...m, subject, body } }];"
      },
      "id": "77646eae-4191-4690-b729-541835e2e56d",
      "name": "Build Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipients.join(',') }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "67a6e436-fb2b-4457-955c-70347117da23",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        752,
        0
      ],
      "webhookId": "e6c3e198-bba0-4a6e-8a09-67832cdedac3",
      "credentials": {
        "gmailOAuth2": {
          "id": "LD5x69eYRRI6cdrn",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Resolve Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Recipients": {
      "main": [
        [
          {
            "node": "Build Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Content": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "3WJZrZsLJqgg1EIM",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 5
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b89eff71-54d7-48ce-a2ef-cb9374fa9b92",
  "activeVersionId": "b89eff71-54d7-48ce-a2ef-cb9374fa9b92",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-23T12:41:36.076Z",
      "createdAt": "2026-04-23T12:41:36.076Z",
      "role": "workflow:owner",
      "workflowId": "4P1nQHSRPUnnwbpy",
      "projectId": "4YBqTudLOBUQfTvU"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-29T15:50:26.410Z",
    "createdAt": "2026-04-29T03:15:27.029Z",
    "versionId": "b89eff71-54d7-48ce-a2ef-cb9374fa9b92",
    "workflowId": "4P1nQHSRPUnnwbpy",
    "nodes": [
      {
        "parameters": {},
        "id": "c4b92f55-5a42-405f-8979-1d7d6851c828",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const meeting = $json;\n\nconst directory = {\n  \"Brandon Stewart\": \"brandon@blazeproperty.com\",\n  \"Amy\": \"amy@blazeproperty.com\",\n  \"Breanna\": \"breanna@blazeproperty.com\",\n  \"Debbie\": \"debbie@blazeproperty.com\",\n  \"Dede\": \"dede@blazeproperty.com\",\n  \"Shelbie\": \"shelbie@blazeproperty.com\",\n  \"Chris\": \"chris@blazeproperty.com\",\n  \"Ashlie\": \"ashlie@blazeproperty.com\"\n};\n\nconst required = [\"brandon@blazeproperty.com\"];\n\nconst participants = meeting.participants || [];\n\nconst resolved = [];\n\nfor (const p of participants) {\n  if (!p) continue;\n  const v = String(p).trim();\n\n  if (v.includes('@')) {\n    resolved.push(v.toLowerCase());\n    continue;\n  }\n\n  if (directory[v]) {\n    resolved.push(directory[v]);\n  }\n}\n\nconst fallback = directory[meeting.manager_name];\nif (fallback) resolved.push(fallback);\n\nconst recipients = [...new Set([...required, ...resolved])];\n\nreturn [{ json: { ...meeting, recipients } }];"
        },
        "id": "4ff4d9c9-46c6-4d91-bb29-09c99f344263",
        "name": "Resolve Recipients",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          256,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const m = $json;\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction shorten(text, max = 260) {\n  const t = String(text || '').replace(/\\s+/g, ' ').trim();\n  if (t.length <= max) return t;\n  return t.substring(0, max).trim() + '...';\n}\n\nfunction splitUsefulLines(text) {\n  return String(text || '')\n    .split(/\\n+/)\n    .map(s => s.trim())\n    .filter(Boolean)\n    .filter(s => !/^rate this summary/i.test(s))\n    .filter(s => !/^helpful or not helpful/i.test(s));\n}\n\nfunction formatShortList(arr, maxItems = 3, maxChars = 280) {\n  if (!Array.isArray(arr) || arr.length === 0) {\n    return '<p style=\"color:#666;margin:0;\">None</p>';\n  }\n\n  const lines = arr\n    .flatMap(splitUsefulLines)\n    .filter(Boolean)\n    .slice(0, maxItems);\n\n  if (!lines.length) {\n    return '<p style=\"color:#666;margin:0;\">None</p>';\n  }\n\n  return lines.map(i => `\n    <div style=\"margin-bottom:8px;padding:10px 12px;background:#f9fafb;border-left:4px solid #374151;border-radius:6px;\">\n      ${escapeHtml(shorten(i, maxChars))}\n    </div>\n  `).join('');\n}\n\nfunction formatDecisions(arr) {\n  if (!Array.isArray(arr) || arr.length === 0) {\n    return '<p style=\"color:#666;margin:0;\">None</p>';\n  }\n\n  const lines = arr.flatMap(splitUsefulLines).filter(Boolean);\n\n  return lines.map(i => `\n    <div style=\"margin-bottom:8px;padding:10px 12px;background:#eef6ff;border-left:4px solid #1d4ed8;border-radius:6px;\">\n      ${escapeHtml(shorten(i, 320))}\n    </div>\n  `).join('');\n}\n\nfunction formatActions(actions) {\n  if (!Array.isArray(actions) || actions.length === 0) {\n    return '<p style=\"margin:0;color:#666;\">No action items found.</p>';\n  }\n\n  return actions.map((a, index) => `\n    <tr>\n      <td style=\"padding:10px;border-bottom:1px solid #e5e7eb;vertical-align:top;width:34px;color:#6b7280;\">\n        ${index + 1}\n      </td>\n      <td style=\"padding:10px;border-bottom:1px solid #e5e7eb;vertical-align:top;\">\n        <strong>${escapeHtml(a.action_description)}</strong>\n        ${a.property_name ? `<div style=\"margin-top:4px;color:#6b7280;font-size:13px;\">Property: ${escapeHtml(a.property_name)}</div>` : ''}\n      </td>\n      <td style=\"padding:10px;border-bottom:1px solid #e5e7eb;vertical-align:top;white-space:nowrap;\">\n        ${escapeHtml(a.action_owner)}\n      </td>\n      <td style=\"padding:10px;border-bottom:1px solid #e5e7eb;vertical-align:top;white-space:nowrap;\">\n        ${escapeHtml(a.due_date)}\n      </td>\n    </tr>\n  `).join('');\n}\n\nconst dt = new Date(String(m.meeting_datetime).replace(' ', 'T'));\nconst meetingDate = dt.toLocaleDateString('en-US', {\n  weekday: 'short',\n  month: 'short',\n  day: 'numeric',\n  year: 'numeric'\n});\n\nconst actionCount = Array.isArray(m.actions) ? m.actions.length : Number(m.action_count || 0);\n\nconst summaryHtml = formatShortList(m.summary_structured?.changes, 3, 280);\nconst issuesHtml = formatShortList(m.summary_structured?.issues, 3, 300);\nconst decisionsHtml = formatDecisions(m.summary_structured?.decisions);\n\nconst subject = `Meeting Follow-Up – ${m.manager_name} – ${meetingDate}`;\n\nconst body = `\n<div style=\"font-family:Arial,sans-serif;background:#f3f4f6;padding:20px;color:#111827;\">\n  <div style=\"max-width:760px;margin:0 auto;background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;overflow:hidden;\">\n\n    <div style=\"background:#111827;color:#ffffff;padding:20px 24px;\">\n      <div style=\"font-size:12px;text-transform:uppercase;letter-spacing:.08em;color:#d1d5db;\">\n        WMMA Meeting Follow-Up\n      </div>\n      <div style=\"font-size:24px;font-weight:700;margin-top:6px;\">\n        ${escapeHtml(m.manager_name)}\n      </div>\n      <div style=\"font-size:14px;color:#d1d5db;margin-top:6px;\">\n        ${escapeHtml(meetingDate)} · Week of ${escapeHtml(m.week_reference)} · ${escapeHtml(actionCount)} action item${actionCount === 1 ? '' : 's'}\n      </div>\n    </div>\n\n    <div style=\"padding:22px 24px;\">\n\n      <div style=\"margin-bottom:22px;\">\n        <h2 style=\"font-size:17px;margin:0 0 10px;border-bottom:2px solid #e5e7eb;padding-bottom:8px;\">\n          Quick Summary\n        </h2>\n        ${summaryHtml}\n      </div>\n\n      <div style=\"margin-bottom:22px;\">\n        <h2 style=\"font-size:17px;margin:0 0 10px;border-bottom:2px solid #e5e7eb;padding-bottom:8px;\">\n          Key Issues\n        </h2>\n        ${issuesHtml}\n      </div>\n\n      <div style=\"margin-bottom:22px;\">\n        <h2 style=\"font-size:17px;margin:0 0 10px;border-bottom:2px solid #e5e7eb;padding-bottom:8px;\">\n          Decisions\n        </h2>\n        ${decisionsHtml}\n      </div>\n\n      <div style=\"margin-bottom:22px;\">\n        <h2 style=\"font-size:17px;margin:0 0 10px;border-bottom:2px solid #e5e7eb;padding-bottom:8px;\">\n          Action Items\n        </h2>\n\n        <table style=\"width:100%;border-collapse:collapse;border:1px solid #e5e7eb;border-radius:8px;overflow:hidden;font-size:14px;\">\n          <thead>\n            <tr style=\"background:#f9fafb;\">\n              <th style=\"text-align:left;padding:10px;border-bottom:1px solid #e5e7eb;width:34px;\">#</th>\n              <th style=\"text-align:left;padding:10px;border-bottom:1px solid #e5e7eb;\">Action</th>\n              <th style=\"text-align:left;padding:10px;border-bottom:1px solid #e5e7eb;\">Owner</th>\n              <th style=\"text-align:left;padding:10px;border-bottom:1px solid #e5e7eb;\">Due</th>\n            </tr>\n          </thead>\n          <tbody>\n            ${formatActions(m.actions)}\n          </tbody>\n        </table>\n      </div>\n\n      <div style=\"margin-top:22px;padding:13px 14px;background:#fff7ed;border:1px solid #fed7aa;border-radius:8px;font-size:14px;\">\n        Please review your assigned items and begin execution immediately.\n      </div>\n\n      <p style=\"margin-top:20px;\">- Brandon</p>\n\n      <p style=\"margin-top:16px;font-size:12px;color:#6b7280;\">\n        Full meeting detail is retained in the meeting record.\n      </p>\n    </div>\n  </div>\n</div>\n`;\n\nreturn [{ json: { ...m, subject, body } }];"
        },
        "id": "77646eae-4191-4690-b729-541835e2e56d",
        "name": "Build Email Content",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          512,
          0
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $json.recipients.join(',') }}",
          "subject": "={{ $json.subject }}",
          "message": "={{ $json.body }}",
          "options": {}
        },
        "id": "67a6e436-fb2b-4457-955c-70347117da23",
        "name": "Send Email",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [
          752,
          0
        ],
        "webhookId": "e6c3e198-bba0-4a6e-8a09-67832cdedac3",
        "credentials": {
          "gmailOAuth2": {
            "id": "LD5x69eYRRI6cdrn",
            "name": "Gmail account"
          }
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Resolve Recipients",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resolve Recipients": {
        "main": [
          [
            {
              "node": "Build Email Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Email Content": {
        "main": [
          [
            {
              "node": "Send Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Brandon Stewart",
    "name": "Version b89eff71",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-04-23T12:40:11.767Z",
      "createdAt": "2026-04-23T12:40:11.767Z",
      "id": "nwYcKrWKYFiGYTIf",
      "name": "Meeting Workflow"
    }
  ]
}